<div class="embla__container">
    @if (otherCarouselSelection() !== 'activities') {
        <app-mobile-activities class="embla__slide" />
    }
    @if (otherCarouselSelection() !== 'time') {
        <app-mobile-time class="embla__slide" />
    }
    @if (otherCarouselSelection() !== 'attributes') {
        <app-attributes-panel class="embla__slide" />
    }
    @if (otherCarouselSelection() !== 'battle') {
        <app-battle-panel class="embla__slide" />
    }
    @if (otherCarouselSelection() !== 'home') {
        <app-home-panel class="embla__slide" />
    }
    @if (otherCarouselSelection() !== 'inventory') {
        <app-inventory-panel class="embla__slide" />
    }
    @if (otherCarouselSelection() !== 'log') {
        <app-log-panel class="embla__slide" />
    }
</div>
