<div class="techniqueContainer">
  <div>
    <mat-icon  (click)="optionsClicked()" tooltip="Technique Development Options" class="iconButton floatRight" aria-label="Technique Development Options" aria-hidden="false">
      settings
    </mat-icon>
  </div>
  <div>
    @for (displayTechnique of battleService.displayTechniques; track displayTechnique.trackField()) {
      @if (displayTechnique.unlocked()){
        <div class="itemSlot techniqueEntry">
          <div class="techniqueName">{{displayTechnique.name()}}</div>
          <div>{{displayTechnique.description()}}</div>
          <div>Base Damage: {{displayTechnique.baseDamage()}}</div>
          @if (displayTechnique.attribute() !== ''){
              <div>Damage increases with {{displayTechnique.attribute() | camelToTitle}}</div>
          }
          @if (displayTechnique.extraMultiplier() !== 0){
            <div>Damage multiplier: {{displayTechnique.extraMultiplier()}}</div>
          }
          <div>Activates every {{displayTechnique.ticksRequired()}} combat ticks</div>
          @if (displayTechnique.staminaCost() !== 0){
            <div>Uses {{displayTechnique.staminaCost()}} stamina</div>
          }
          @if (displayTechnique.qiCost()){
            <div>Uses {{displayTechnique.qiCost()}} Qi</div>
          }
          @if (displayTechnique.healthCost()){
            <div>Uses {{displayTechnique.healthCost()}} health</div>
          }
          @if (displayTechnique.effect() !== ''){
            <div>{{effectDescriptions[displayTechnique.effect()]}}</div>
          }
          @if (displayTechnique.concept() !== '' && contemplationService.contemplationStarted()){
            <div innerHTML="{{conceptDescriptions[displayTechnique.concept()]}}"></div>
          }
          <div>
              @if (displayTechnique.familyTechnique()){
                  <button (click)="battleService.forsakeTechnique(displayTechnique.technique)" tooltip="Forsake this technique to make room in your heart to develop another.">
                      Forsake This Family Technique
                  </button>
              }
          </div>
        </div>
      }   
    }
  </div>
</div>
<br>