<div class="techniqueContainer">
  <div>
    <mat-icon  (click)="optionsClicked()" tooltip="Technique Development Options" class="iconButton floatRight" aria-label="Technique Development Options" aria-hidden="false">
      settings
    </mat-icon>
  </div>
  <div>
    @for (technique of battleService.techniques; track technique) {
      @if (technique.unlocked){
        <div class="itemSlot techniqueEntry">
          <div class="techniqueName">{{technique.name}}</div>
          <div>{{technique.description}}</div>
          <div>Base Damage: {{technique.baseDamage}}</div>
          @if (technique.attribute){
              <div>Damage increases with {{technique.attribute | camelToTitle}}</div>
          }
          @if (technique.extraMultiplier){
            <div>Damage multiplier: {{technique.extraMultiplier}}</div>
          }
          <div>Activates every {{technique.ticksRequired}} combat ticks</div>
          @if (technique.staminaCost){
            <div>Uses {{technique.staminaCost}} stamina</div>
          }
          @if (technique.qiCost){
            <div>Uses {{technique.qiCost}} Qi</div>
          }
          @if (technique.healthCost){
            <div>Uses {{technique.healthCost}} health</div>
          }
          @if (technique.effect){
            <div>{{effectDescriptions[technique.effect]}}</div>
          }
          <div>
              @if (technique.familyTechnique){
                  <button (click)="battleService.forsakeTechnique(technique)" tooltip="Forsake this technique to make room in your heart to develop another.">
                      Forsake This Technique
                  </button>
              }
          </div>
        </div>
      }   
    }
  </div>
</div>
<br>