@import (reference) "../../styles.less";

.techniqueContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
}

.techniqueEntry {
    overflow: hidden;
    position: relative;
    margin: 4px;
    padding: 4px;
}

.techniqueName {
    font-size: large;
}


.floatRight {
  float: right;
}

mat-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 1px;
  margin-right: 1px;
  vertical-align: middle;
}
