<div>
    <h3>Your Farm</h3>
    <hr/>
    <div>
      Your {{homeService.fields.length}} fields produced an average of {{homeService.averageYield | number: '1.0-2'}} food per day over the last year.
      <mat-icon  (click)="buyClicked($event)" placement="bottom" tooltip="Buy a plot of land for {{homeService.landPrice}} taels. Shift-click to buy 10 plots, Ctrl-click to buy all the land you can afford." class="iconButton">
        add
      </mat-icon>
      <mat-icon  (click)="plowClicked($event)" placement="bottom" class="iconButton rightFloat"
        tooltip="Plow a field. Converts a plot of land to a field. You'll need to work at farming it to make it produce much food. Once the harvest is over, you will get the food you've grown and the land will be available again. Shift-click to plow 10 fields, Ctrl-click to plow all your land.">
        waves
      </mat-icon>      
      <mat-icon class="iconButton" (click)="clearClicked($event)" placement="bottom" class="iconButton rightFloat"
        tooltip="Clear a field. Converts a the field back into an open plot of land. Shift-click to clear 10 fields, Ctrl-click to clear all your fields.">
        delete_sweep
      </mat-icon>        
    </div>
    <div class="farmGrid">
        <div *ngFor="let field of homeService.fields | slice:0:300">
          <table class="itemSlot"
            tooltip="You will harvest {{field.yield}} in {{field.daysToHarvest}} days">
            <tr>{{field.cropName | titlecase}}</tr>
            <tr>{{field.yield}}</tr>
            <tr>{{(field.originalDaysToHarvest - field.daysToHarvest) / field.originalDaysToHarvest | percent}}</tr>
          </table>
        </div>
      </div>
</div>

