
@import (reference) "../../styles.less";

.fieldSlot {
    border: 1px solid @panelBorder;
    width: 10px;
    height: 10px;
    margin: 1px;
    font-size: x-small;
    text-align: center;
    border-spacing: 0px;
    background-color: @itemSlotColor;
}

.farmGrid {
    display: flex;
    flex-wrap: wrap;
}
    
.fieldSlot > tr {
    line-height: 12px;
}