<div class="locationsContainer">
  <span>Current Location: {{locationService.displayCurrentLocation()}}</span>
  <br>
  <span>Available Locations</span>
  <br>
  <div>
    @for (location of locationService.displayLocations; track location.trackField()) {
        <div class="itemSlot locationEntry" (click)="locationClicked(location.key)">
          <span>
            @if (location.selected()){
              <mat-icon tooltip="When you look for trouble or herbs, you will look for them here.">
                crisis_alert
              </mat-icon>
            }
          </span>
          <div><span>{{location.name()}}</span></div>
          <div><span>{{location.description()}}</span></div>
          @if (location.eradicated()){
            <div><span>All Monsters Eradicated</span></div>
          }
        </div>
      }
  </div>
</div>
<br>