<div>
  <span>Ascension Shop</span>
  <hr/>
  <table>
    <tr>
      <td>
        <button [disabled]="storeService.soulCoreRank > 8" (click)="storeService.condenseSoulCore()">Condense Soul Core</button>
      </td>
      <td>
        End your current life, sacrifice all attributes and aptitudes, and permanently increase the amount of aptitude gained on each reincarnation.
        <br>
        Current Rank: {{storeService.soulCoreRank}}
        <br>
        Next rank requires {{characterService.characterState.condenseSoulCoreCost | number}} spirituality and a grade {{storeService.soulCoreRank + 12}} monster core.
      </td>
    </tr>
    <tr>
      <td>
        <button [disabled]="storeService.meridianRank > 8" (click)="storeService.reinforceMeridians()">Reinforce Meridians</button>
      </td>
      <td>
        End your current life, sacrifice all attributes and aptitudes, and permanently increase the power of your aptitudes when gaining attributes.
        <br>
        Current Rank: {{storeService.meridianRank}}
        <br>
        Next rank requires {{characterService.characterState.reinforceMeridiansCost | number}} spirituality and a grade {{storeService.meridianRank + 16}} monster core.
      </td>
    </tr>
    <tr>
      <td>
        <button [disabled]="characterService.characterState.bloodlineRank >= 4" (click)="storeService.upgradeBloodline()">{{storeService.bloodlineLabel}}</button>
      </td>
      <td>
        {{storeService.bloodlineDescription}}
        <br>
        Current Rank: {{characterService.characterState.bloodlineRank}}
        <br>
        Next rank requires {{characterService.characterState.bloodlineCost | number}} spirituality and a {{this.storeService.bloodLineHomeRequirement.name}}.
      </td>
    </tr>
  </table>

</div>
