@import (reference) "../../styles.less";

.progress-bar {
    vertical-align: middle;
    margin-left: 8px;
}

.hellStatusContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

mat-icon {
    height: 16px;
    width: 16px;
    font-size: 16px;
    margin: 2px;
    vertical-align: middle;
    color: var(--bodyText);
  }