<div class="hellStatusContainer">
  @if (!hellService.inHell()) {
    <div>
        <span>
            You are not in hell.
        </span>
    </div>
  }
  @else {
    <div>
        <span>
            You are in the {{hellService.currentHellDisplayStatus.name()}}
        </span>
    </div>
    <div>
      <span innerHTML="{{hellService.currentHellDisplayStatus.description()}}">
      </span>
    </div>

    <span>
      Progress:
      <div  class="progress-bar"
          [attr.value]="hellService.currentHellDisplayStatus.progress()"
          [attr.max]="hellService.currentHellDisplayStatus.progressMax()">
          <span [style.width.%]="hellService.currentHellDisplayStatus.progressPercent()"></span>
      </div>
    </span>
    @if (hellService.currentHellDisplayStatus.tasksComplete() && !hellService.currentHellDisplayStatus.hidden()) {
        <span>
        <button (click)="hellBoss()">{{hellService.currentHellDisplayStatus.complete() ? "Beat On The Hell Lord Some More" : "Challenge the Hell Lord"}}</button>
        </span>
    }
  }
  <div>
    <table>
      @for (hell of hellService.displayStatus; track hell.name()) {
        @if (!hell.hidden()) {
          <tr>
          <td>
              <span>
              <mat-icon tooltip="{{hell.description()}}">
                  help
              </mat-icon>
              {{hell.name()}}
              </span>
          </td>
          <td>
            @if (hell.complete()) { 
              <span>Boss Defeated</span>
            } 
            @else if (hell.tasksComplete()) {
              <span>Tasks Complete</span>
            } 
            @else {
            <div class="progress-bar" style="height:20px;"
              [attr.value]="hell.progress()"
              [attr.max]="hell.progressMax()">
              <span
                      [style.width.%]="hell.progressPercent()">
              </span>
              </div>
            }
          </td>
          </tr>
        }
      }
    </table>
  </div>
</div>