<div class="hellStatusContainer">
  @if (!hellService.inHell) {
    <div>
        <span>
            You are not in hell.
        </span>
    </div>
  }
  @else {
    <div>
        <span>
            You are in the {{hellService.hells[hellService.currentHell].name}}
        </span>
    </div>
    @if (hellService.currentHell > 0 && !hellService.completedHellTasks.includes(hellService.currentHell)) {
        <span>
        <div  class="progress-bar"
            [attr.value]="Math.floor(hellService.hells[hellService.currentHell].progress())"
            [attr.max]="Math.floor(hellService.hells[hellService.currentHell].progressMax())">
            <span
            [style.width.%]="100 *
            hellService.hells[hellService.currentHell].progress() /
            hellService.hells[hellService.currentHell].progressMax()">
            </span>
        </div>
        </span>
    }
    @if (hellService.currentHell > 0 && hellService.completedHellTasks.includes(hellService.currentHell)) {
        <span>
        <button (click)="hellBoss()">{{hellService.completedHellBosses.includes(hellService.currentHell) ? "Beat On The Hell Lord Some More" : "Challenge the Hell Lord"}}</button>
        </span>
    }
  }
  <div>
    <table>
      @for (hell of hellService.hells; track hell.name + hell.progress) {
        <tr>
        <td>
            <span>
            <mat-icon tooltip="{{hell.description}}">
                help
            </mat-icon>
            {{hell.name}}
            </span>
        </td>
        <td>
            <div class="progress-bar" style="height:20px;"
            [attr.value]="Math.floor(hell.progressCache)"
            [attr.max]="Math.floor(hell.progressMaxCache)">
            <span
                    [style.width.%]="100 *
                    hell.progressCache /
                    hell.progressMaxCache">
            </span>
            </div>
        </td>
        </tr>
      }
    </table>
  </div>
</div>