<div class="homeContainer">
  <h3 >
    <div [ngClass]="{'hellDisabled': hellService.inHell}">
      You live in a {{homeService.home.name}}
    </div>
  </h3>
  <div class="homeInfo">
    <span>{{homeService.home.description}}</span>
  </div>
  @if ((!hellService.inHell || homeService.hellHome || homeService.hellFood)) {
    <div class="homeContainer">
      <div class="overflow">
        @if (!hellService.inHell && !characterService.characterState.god) {
          <div class="homeInfo"><span>It costs {{homeService.home.costPerDay | bigNumber}} {{homeService.home.costPerDay === 1 ? "tael" : "taels"}} per day to maintain your home</span></div>
          }      <div class="homeInfo"><span>You own {{homeService.land | bigNumber}} open {{homeService.land === 1 ? "plot" : "plots"}} of land and {{homeService.fields.length + homeService.extraFields | bigNumber}} fields</span></div>
          @if (homeService.home.furnitureSlots.length > 0 && (!hellService.inHell || homeService.hellHome)) {
            <div class="furnitureSlots">
              @for (slot of homeService.home.furnitureSlots; track slot) {
                <div>
                  @if (!homeService.furniture[slot]) {
                    <div class="itemSlot" tooltip="You don't own a {{slot}}, but your home could hold one."></div>
                  }
                  @if (homeService.furniture[slot]) {
                    <div class="itemSlot textOverflow" tooltip="{{homeService.furniture[slot]?.description}}">{{homeService.furniture[slot]?.name | titlecase}}</div>
                  }
                </div>
              }
            </div>
          }
        </div>
        <div class="buttons">
          @if (!hellService.inHell || homeService.hellHome) {
            <div class="button-group">
              <mat-icon  (click)="buyClicked($event)" tooltip="Buy a plot of land for {{homeService.landPrice | bigNumber}} taels.<br>Shift-click to buy 10 plots.<br>Ctrl-click to buy half the land you can afford." class="iconButton" aria-label="Buy Land" aria-hidden="false">
                add
              </mat-icon>
              @if ((homeService.home.name !== homeService.nextHome.name)) {
                <mat-icon (click)="homeService.upgradeToNextHome()" class="iconButton" aria-label="Upgrade Home" aria-hidden="false"
                  tooltip="{{homeService.nextHome.upgradeToTooltip}}">
                  add_business
                </mat-icon>
              }
              @if (homeService.home.furnitureSlots.length) {
                <mat-icon class="iconButton" aria-label="Buy Furniture" aria-hidden="false"
                  tooltip="Buy Furniture" (click)="storeClicked()">
                  shopping_cart
                </mat-icon>
              }
              @if (homeService.upgrading) {
                <div class="progress-bar" style="height:20px;" tooltip="Upgrading your home."
                  [attr.value]=buildTimeYears()>
                  <span [style.width.%]="100 * homeService.houseBuildingProgress"></span>
                </div>
                <span style="margin-left: 4px;"></span>
              }
            </div>
          }
          @if (!hellService.inHell || homeService.hellFood) {
            <div class="button-group">
              <mat-icon tooltip="View your farm." class="iconButton" (click)="farmClicked()" aria-label="View Farm" aria-hidden="false">grass</mat-icon>
              <mat-icon  (click)="plowClicked($event)" class="iconButton" aria-label="Plow Field" aria-hidden="false"
                tooltip="Plow a field.<br>Converts a plot of land to a field.<br>You'll need to work at farming it to make it produce much food.<br>Once the harvest is over, you will get the food you've grown and the land will be available again.<br>Shift-click to plow 10 fields.<br>Ctrl-click to plow all your land.">
                waves
              </mat-icon>
            </div>
          }
        </div>
      </div>
    }
  </div>
  