<div class="homeContainer">
    <h3 class="panelHeader">
      <mat-icon tooltip="Your home is an essential part of your life. A better home allows you to recover and has room for furniture that can aid your immortal development.">home</mat-icon>
      <div tooltip="{{homeService.home.description}}">
        You live in a {{homeService.home.name}}
      </div>
    </h3>
    <div class="overflow">
      <div class="homeInfo"><span>It costs {{homeService.home.costPerDay}} {{homeService.home.costPerDay === 1 ? "tael" : "taels"}} per day to maintain your home</span></div>
      <div class="homeInfo"><span>You own {{homeService.land}} open {{homeService.land === 1 ? "plot" : "plots"}} of land and {{homeService.fields.length + homeService.extraFields}} fields</span></div>
      <div class="furnitureSlots" *ngIf="homeService.home.furnitureSlots.length > 0">
          <div *ngFor="let slot of homeService.home.furnitureSlots">
              <div *ngIf="!homeService.furniture[slot]" class="itemSlot" tooltip="You don't own a {{slot}}, but your home could hold one."></div>
              <div *ngIf="homeService.furniture[slot]" class="itemSlot" tooltip="{{homeService.furniture[slot]?.description}}">{{homeService.furniture[slot]?.name | titlecase}}</div>
          </div>
      </div>
      <div class="furnitureSlots" *ngIf="homeService.home.furnitureSlots.length === 0">
        <span class="mouseWarning">Tent living is rough. All these pesky mice could become a real problem. You might want to buy some land and get a better home.</span>
      </div>
    </div>
    <div class="buttons">
        <div class="button-group">
            <mat-icon  (click)="buyClicked($event)" placement="bottom" tooltip="Buy a plot of land for {{homeService.landPrice}} taels. Shift-click to buy 10 plots, Ctrl-click to buy half the land you can afford." class="iconButton">
              add
            </mat-icon>
            <mat-icon *ngIf="(homeService.home.name !== homeService.nextHome.name)" placement="bottom" (click)="homeService.upgradeToNextHome()" class="iconButton"
              tooltip="Get a better house. A better home will cost {{homeService.nextHomeCost | number: '1.0-0'}} taels and take up {{homeService.nextHome.landRequired}} land.">
              add_business
            </mat-icon>
            <mat-icon class="iconButton" *ngIf="homeService.home.furnitureSlots.length"
              tooltip="Buy Furniture" (click)="storeClicked()">
              shopping_cart
            </mat-icon>
            <div *ngIf="homeService.upgrading" class="progress-bar" tooltip="Upgrading your home.">
              <span [style.width.%]="100 * homeService.houseBuildingProgress"></span>
            </div>
        </div>
        <div class="button-group">
            <mat-icon tooltip="View your farm." class="iconButton" (click)="farmClicked()">grass</mat-icon>
            <mat-icon  (click)="plowClicked($event)" placement="bottom" class="iconButton"
              tooltip="Plow a field. Converts a plot of land to a field. You'll need to work at farming it to make it produce much food. Once the harvest is over, you will get the food you've grown and the land will be available again. Shift-click to plow 10 fields, Ctrl-click to plow all your land.">
              waves
            </mat-icon>
        </div>
    </div>
</div>
