<div class='darkMode optionsDiv'>
  <span>Crafting Options</span>
  <hr>
  @if (inventoryService.autoPillUnlocked){
    <div class="optionField">
      <span>
        <input type="checkbox" id="autoPill" [checked]="inventoryService.autoPillEnabled" (change)="autoPillChange($event)">
        <label for="autoPill" >Automatically consume all pills</label>
      </span>
    </div>
  }
  @if (inventoryService.autoequipBestArmor || inventoryService.autoequipBestWeapon){
    <div class="optionField">
      <span>
        <input type="checkbox" id="autoequipEnable" [checked]="inventoryService.autoequipBestEnabled" (change)="autoequipEnableChange($event)">
        <label for="autoequipEnable" >Automatically equip the best gear you have</label>
      </span>
    </div>
  }
  @if ((inventoryService.autoequipBestArmor && inventoryService.autoArmorMergeUnlocked) || (inventoryService.autoequipBestWeapon && inventoryService.autoWeaponMergeUnlocked)) {
    <div  class="optionField">
      <span>
        <input type="checkbox" (change)="automergeEquippedChange($event)"
          id="automergeEquipped"  [checked]="inventoryService.automergeEquipped"/>
        <label for="automergeEquipped">Automatically merge onto equipped equipment</label>
      </span>
    </div>
  }
  @if (inventoryService.autoWeaponMergeUnlocked) {
    <div  class="optionField">
      <span>
        <input type="checkbox" (change)="automergeWeaponChange($event)"
          id="automergeWeapon"  [checked]="inventoryService.autoWeaponMergeEnabled"/>
        <label for="automergeWeapon">Automatically merge weapons in your inventory</label>
      </span>
    </div>
  }
  @if (inventoryService.autoWeaponMergeUnlocked) {
    <div  class="optionField">
      <span>
        <input type="checkbox" (change)="automergeArmorChange($event)"
          id="automergeArmor"  [checked]="inventoryService.autoArmorMergeEnabled"/>
        <label for="automergeArmor">Automatically merge armor in your inventory</label>
      </span>
    </div>
  }

  @if (inventoryService.autoReloadCraftInputsUnlocked){
    <div class="optionField">
      <span>
        <input type="checkbox" id="autoReloadCraftInputs" [checked]="inventoryService.autoReloadCraftInputs" (change)="autoReloadCraftInputsChange($event)">
        <label for="autoReloadCraftInputs" >Automatically reload crafting ingredients when acquired</label>
      </span>
    </div>
    <div class="optionField">
      <span>
        <input type="checkbox" id="autoReloadCraftInputsDistributed" [checked]="inventoryService.autoReloadCraftInputsDistributed" (change)="autoReloadCraftInputsDistributedChange($event)">
        <label for="autoReloadCraftInputsDistributed" >Automatically distribute crafting ingredients across workstations using the same item (when acquired)</label>
      </span>
    </div>
    <div class="optionField">
      <span>
        <input type="checkbox" id="autoReloadCraftInputsOnEmpty" [checked]="inventoryService.autoReloadCraftInputsOnEmpty" (change)="autoReloadCraftInputsOnEmptyChange($event)">
        <label for="autoReloadCraftInputsOnEmpty" >Automatically reload crafting ingredients when workstation runs low</label>
      </span>
    </div>
  }
</div>
