<div class="darkMode furnitureModal">
  <span>Furniture Shop</span>
  <hr/>
  <br>
  <div class="inventoryGrid">
    @for (item of itemRepoService.furniture; track item.id) {
      <div>
        <div class="itemSlot" tabindex="0"
          tooltip="{{item.description}}"
          (click)="storeService.buyFurniture(item)">
          <div>{{item.name | titlecase}}</div>
          @if (homeService.ownedFurniture.includes(item.id)) {
            <div>OWNED</div>
          } 
          @else {
            <div>$ {{item.value | number: '1.0-0'}}</div>
          }
        </div>
      </div>
    }
  </div>

</div>
