<div class="log">
  <h3 class="panelHeader">
    <span>Log</span>
    <span class="headerNote">Newest messages appear at the top, so read from the bottom up.</span>
    <span class="filters">
      <input type="checkbox" (change)="topicFilterStory($event)" id="filterStory" [checked]="logService.logTopics.includes('STORY')"/>
      <label for="filterStory">Show Story Messages <span class="highlightText">{{logService.newStory}}</span></label>
      <input type="checkbox" (change)="topicFilterEvent($event)" id="filterEvent" [checked]="logService.logTopics.includes('EVENT')"/>
      <label for="filterEvent">Show Event Messages {{logService.newEvents}}</label>
      <input type="checkbox" (change)="topicFilterCombat($event)" id="filterCombat" [checked]="logService.logTopics.includes('COMBAT')"/>
      <label for="filterCombat">Show Combat Messages {{logService.newCombat}}</label>
    </span>
  </h3>
  <div class="logContainer">
    <ng-container *ngFor="let logMsg of logService.currentLog">
      <div [ngClass]="logMsg.type" class="logEntryDiv">
        {{logMsg.message}}
      </div>
    </ng-container>
  </div>
  <div class="disclaimer">
    <span class="disclaimerLeft">
      Beta development version. If things look broken, use Ctrl-F5 to force a refresh and/or do a Hard Reset.
    </span>
    <span class="disclaimerRight">
      This game should be hosted on immortalityidle.github.io. If you see it somewhere else, it's stolen.
    </span>
  </div>

</div>

