<div class="log">
  <h3 class="panelHeader">
    <span>Log</span>
    <mat-icon class="iconButton optionsIcon" aria-label="Filter Log" aria-hidden="false" (click)="logFilterClicked()" matTooltip="Manage Log Filters">
      filter_alt
    </mat-icon>
    <span class="headerNote">Newest messages appear at the top, so read from the bottom up.</span>
  </h3>
  <div class="logBox">
    <ng-container *ngFor="let logMsg of logService.currentLog">
      <div [ngClass]="logMsg.type" class="logEntryDiv">
        {{logMsg.message}}
      </div>
    </ng-container>
  </div>
</div>

