<div class='darkMode optionsDiv'>
  <span>Game Options</span>
  <hr>
  <div class="optionField">
    <span tooltip="This game is much too hard and takes much too long to play to the end.<br>Click this to make it easier and allow you to rush through the game.<br>
      Be warned:<br>you will forever be known as a cultivator who took the easy path to immortality.">
      <input type="checkbox" id="easyMode" [checked]="characterService.characterState.easyMode" (change)="easyModeChange($event)">
      <label for="easyMode" >Easy Mode</label>
    </span>
    @if (this.gameStateService.easyModeEver) {
      <span>
        &nbsp;&nbsp;Only starting your journey to immortality from the beginning again (Hard Reset) will prove you never took the easy path.
      </span>
    }
  </div>
  <div class="optionField">
    <span>
      <input type="checkbox" (change)="autoBuyFoodChange($event)"
        id="autoBuyFood"  [checked]="inventoryService.autoBuyFood">
      <label for="autoBuyFood">Automatically buy scraps each day if you have no food to avoid starvation.</label>
    </span>
  </div>
  <div class="optionField">
    <span>
      <input type="checkbox" (change)="showLifeSummaryChange($event)"
        id="showLifeSummary" [checked]="characterService.characterState.showLifeSummary">
      <label for="showLifeSummary">Show a previous life summary at the start of each life</label>
    </span>
  </div>
  <div class="optionField">
    <span>
      <input type="checkbox" (change)="showTipsChange($event)"
        id="showTips" [checked]="characterService.characterState.showTips">
      <label for="showTips">Include tips in the life summary. Warning, this can spoil the fun of discovering things for yourself.</label>
    </span>
  </div>
  <div class="optionField">
    <span>
      <input type="checkbox" (change)="showUpdateAnimationsChange($event)"
        id="showUpdateAnimations" [checked]="characterService.characterState.showUpdateAnimations">
      <label for="showUpdateAnimations">Show animated updates when attributes or money values change.</label>
    </span>
  </div>
  <div class="optionField">
    <span>
      <input type="checkbox" (change)="scientificNotationChange($event)"
        id="scientificNotation"  [checked]="mainLoopService.scientificNotation">
      <label for="scientificNotation">Turn on numbers with scientific notation.</label>&nbsp;
      <span class="spaced warning">Changing this will save and reload immediately.</span>
    </span>
  </div>
  <div class="optionField">
    <span tooltip="Enable background music (this allows the game to run in the background without throttling on some browsers).">
      <input type="checkbox" id="backgroundMusic" [checked]="mainLoopService.playMusic" (change)="playMusicChange($event)">
      <label for="backgroundMusic" >Background Music (also improves background play) - <a href="/assets/music/Shaolin-Dub-Rising-Sun-Beat.mp3" download>Rising Sun Beat by Shaolin Dub</a> (<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons License</a>)</label>
    </span>
  </div>
  <div class="optionField">
    <span>
        <label for="autoSaveInterval">Change how often the game autosaves (in seconds) </label>
        <input value="{{gameStateService.saveInterval}}" type="number" min="1" max="900" step="1"
            (change)="autoSaveInterval($event)" id="autoSaveInterval">&nbsp;
    </span>
  </div>

  <div class="optionField">
    <button tooltip="Voluntarily end this life, allowing your current attributes to strengthen your aptitudes in the next life." (click)="rebirthClicked($event)">
      Reincarnate
    </button>
  </div>
  <div class="optionField">
    <span>
      <input type="checkbox" (change)="darkModeToggle()" id="darkMode" [checked]="gameStateService.isDarkMode"/>
      <label for="darkMode">Dark Mode</label>
    </span>
  </div>
  <div class="optionField">
    <div>
      <input type="file" id="importLayoutFile" #importLayoutFile (change)="importLayoutFileClick($event)" />
      <button (click)="importLayoutFile.click()">Import Layout File</button>
      <button (click)="exportLayoutFileClick()">Export Layout File</button>
    </div>
    <div>
      <input type="file" id="importGameFile" #importGameFile (change)="importGameFileClick($event)" />
      <button (click)="importGameFile.click()">Import Game File</button>
      <button (click)="exportGameFileClick()">Export Game File</button>
    </div>
  </div>
  <div class="optionField">
    <button tooltip="Completely restart your journey toward immortality." class="warning" (click)="hardResetClicked($event)">Hard Reset</button>
  </div>
</div>
