<div class='darkMode optionsDiv'>
  <span>Manuals Options</span>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">Game</span>
      </ng-template>
      <div class="optionField">
        <span>
          <input type="checkbox" id="easyMode" [checked]="characterService.characterState.easyMode" (change)="easyModeChange($event)"
            tooltip="This game is much too hard and takes much too long to play to the end. Click this to make it easier. Be warned: you will forever be known as a cultivator who took the easy path to immortality.">
          <label for="easyMode" >Easy Mode</label>
        </span>
        <span *ngIf="this.gameStateService.easyModeEver">
          &nbsp;&nbsp;Only starting your journey to immortality from the beginning again (Hard Reset) will prove you never took the easy path.
        </span>
      </div>
      <div class="optionField">
        <span>
          <input type="checkbox" (change)="autoBuyFoodChange($event)"
            id="autoBuyFood"  [checked]="inventoryService.autoBuyFood">
          <label for="autoBuyFood">Automatically buy rice each day if you have no food to avoid starvation.</label>
        </span>
      </div>
      <div class="optionField">
        <span>
          <input type="checkbox" (change)="scientificNotationChange($event)"
            id="scientificNotation"  [checked]="mainLoopService.scientificNotation">
          <label for="scientificNotation">Turn on numbers with scientific notation.</label>&nbsp;
          <span class="spaced warning">Changing this will save immediately.</span>
        </span>
      </div>
    </mat-tab>
    <mat-tab *ngIf="homeService.autoBuyLandUnlocked || homeService.autoFieldUnlocked || homeService.autoBuyHomeUnlocked">
      <ng-template mat-tab-label>
        <span class="tab-label">Home</span>
      </ng-template>
      <div *ngIf="homeService.autoBuyLandUnlocked" class="optionField">
        <span>
          Automatically buy up to <input min="0" value="{{homeService.autoBuyLandLimit}}" type="number" class="inputBox" (change)="autoBuyLandLimitChanged($event)"/> land (including fields)
        </span>
      </div>
      <div *ngIf="homeService.autoFieldUnlocked" class="optionField">
        <span>
          Automatically plow up to <input min="0" value="{{homeService.autoFieldLimit}}" type="number" class="inputBox" (change)="autoFieldLimitChanged($event)"/> fields
        </span>
      </div>
      <div *ngIf="homeService.autoBuyHomeUnlocked" class="optionField">
        <span>
          Automatically upgrade your home up to a
          <select name="homeList" id="homeList"  (change)="autoBuyHomeLimitChanged($event)">
            <option *ngFor="let home of homeService.homesList" value="{{home.type}}"
              [selected]="homeService.autoBuyHomeLimit === home.type">
              {{home.name}}
            </option>
          </select>
        </span>
      </div>
      <div>
        <span>
          <input type="checkbox" (change)="autoPauseThugs($event)"
            id="autoBuyFood"  [checked]="homeService.thugPause">
          <label for="autoBuyFood">Automatically pause if thugs rough you up.</label>
        </span>
      </div>
    </mat-tab>

    <mat-tab *ngIf="inventoryService.autoequipBestArmor || inventoryService.autoequipBestWeapon || inventoryService.useSpiritGemUnlocked">
      <ng-template mat-tab-label>
        <span class="tab-label">Crafting</span>
      </ng-template>

      <div *ngIf="inventoryService.autoequipBestArmor || inventoryService.autoequipBestWeapon"  class="optionField">
        <span>
          <input type="checkbox" (change)="autoequipEnableChange($event)"
            id="autoequipEnable"  [checked]="inventoryService.autoequipBestEnabled"/>
          <label for="autoequipEnable">Automatically equip best equipment</label>
        </span>
      </div>
      <div *ngIf="(inventoryService.autoequipBestArmor && inventoryService.autoArmorMergeUnlocked) || (inventoryService.autoequipBestWeapon && inventoryService.autoArmorMergeUnlocked)"  class="optionField">
        <span>
          <input type="checkbox" (change)="automergeEquippedChange($event)"
            id="automergeEquipped"  [checked]="inventoryService.automergeEquipped"/>
          <label for="automergeEquipped">Automatically merge onto equipped equipment</label>
        </span>
      </div>

      <div *ngIf="inventoryService.useSpiritGemUnlocked"  class="optionField">
        <span>
          <input type="checkbox" (change)="useSpiritGemWeaponsChange($event)"
            id="useSpiritGemWeapons"  [checked]="inventoryService.useSpiritGemWeapons"/>
          <label for="useSpiritGemWeapons">Use spirit gem when crafting weapons</label>
        </span>
      </div>
      <div *ngIf="inventoryService.useSpiritGemUnlocked"  class="optionField">
        <span>
          <input type="checkbox" (change)="useSpiritGemPotionsChange($event)"
            id="useSpiritGemPotions"  [checked]="inventoryService.useSpiritGemPotions"/>
          <label for="useSpiritGemPotions">Use spirit gem when crafting potions</label>
        </span>
      </div>
      <div *ngIf="inventoryService.useSpiritGemUnlocked"  class="optionField">
        <span>
          <input type="checkbox" (change)="useCheapestSpiritGemChange($event)"
            id="useCheapestSpiritGem"  [checked]="inventoryService.useCheapestSpiritGem"/>
          <label for="useCheapestSpiritGem">Use your lowest grade spirit gem instead of your highest</label>
        </span>
      </div>
    </mat-tab>

    <mat-tab *ngIf="inventoryService.autoSellOldHerbs || inventoryService.autoSellOldWood || inventoryService.autoSellOldOre || inventoryService.autoSellOldHides || inventoryService.autoSellOldGemsUnlocked || 
      inventoryService.autoSellUnlocked || inventoryService.autoUseUnlocked || inventoryService.autoBalanceUnlocked">
      <ng-template mat-tab-label>
        <span class="tab-label">Sales</span>
      </ng-template>

      <div *ngIf="inventoryService.autoSellOldHerbs"  class="optionField">
        <span>
          <input type="checkbox" (change)="autoSellOldHerbs($event)"
            id="autosellOldHerbs"  [checked]="inventoryService.autoSellOldHerbsEnabled"/>
          <label for="autosellOldHerbs">Automatically sell lower grade herbs than what current activities produce</label>
        </span>
      </div>
      <div *ngIf="inventoryService.autoSellOldWood"  class="optionField">
        <span>
          <input type="checkbox" (change)="autoSellOldWood($event)"
            id="autosellOldWood"  [checked]="inventoryService.autoSellOldWoodEnabled"/>
          <label for="autosellOldWood">Automatically sell lower grade wood than what current activities produce</label>
        </span>
      </div>
      <div *ngIf="inventoryService.autoSellOldOre"  class="optionField">
        <span>
          <input type="checkbox" (change)="autoSellOldOre($event)"
            id="autosellOldOre"  [checked]="inventoryService.autoSellOldOreEnabled"/>
          <label for="autosellOldOre">Automatically sell lower grade ore than what current activities produce</label>
        </span>
      </div>
      <div *ngIf="inventoryService.autoSellOldOre"  class="optionField">
        <span>
          <input type="checkbox" (change)="autoSellOldBars($event)"
            id="autoSellOldBars"  [checked]="inventoryService.autoSellOldBarsEnabled"/>
          <label for="autoSellOldBars">Automatically sell lower grade bars than what current activities produce</label>
        </span>
      </div>
      <div *ngIf="inventoryService.autoSellOldHides"  class="optionField">
        <span>
          <input type="checkbox" (change)="autoSellOldHides($event)"
            id="autosellOldHides"  [checked]="inventoryService.autoSellOldHidesEnabled"/>
          <label for="autosellOldHides">Automatically sell lower grade hides than what current activities produce</label>
        </span>
      </div>
      <div *ngIf="inventoryService.autoSellOldGemsUnlocked"  class="optionField">
        <span>
          <input type="checkbox" (change)="autoSellOldGems($event)"
            id="autosellOldGems"  [checked]="inventoryService.autoSellOldGemsEnabled"/>
          <label for="autosellOldGems">Automatically sell lower grade gems than what current monsters drop</label>
        </span>
      </div>
      <div *ngIf="inventoryService.autoSellUnlocked" class="optionField">
        <span>
          Automatically Sold Items:
        </span>
        <div class="scrollingDiv">
          <div *ngFor="let entry of inventoryService.autoSellEntries">
            <span>
              - {{entry.name | titlecase}}
            </span>
            <span>
              - Reserve &nbsp;<input min="0" value="{{entry.reserve}}" type="number" class="inputBox" (change)="autoSellReserveChange($event, entry)"/>&nbsp;
              <button (click)="inventoryService.unAutoSell(entry.name)">Stop Selling</button>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="inventoryService.autoUseUnlocked" class="optionField">
        <span>Automatically Used Items:</span>
        <div class="scrollingDiv">
          <div *ngFor="let entry of inventoryService.autoUseEntries">
            <span>
              - {{entry.name | titlecase}}
            </span>
            <span>
              - Reserve &nbsp;<input min="0" value="{{entry.reserve}}" type="number" class="inputBox" (change)="autoUseReserveChange($event, entry)"/>&nbsp;
              <button (click)="inventoryService.unAutoUse(entry.name)">Stop Using</button>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="inventoryService.autoBalanceUnlocked" class="optionField">
        <span>Automatically Balanced Items:</span>
        <div class="scrollingDiv">
          <div *ngFor="let balanceItem of inventoryService.autoBalanceItems">
            <span>
              -{{balanceItem.name | titlecase}}
              Use <input min="0" value="{{balanceItem.useNumber}}" type="number" class="inputBox" (change)="autoBalanceUseChanged($event, balanceItem)"/>
              then Sell <input min="0" value="{{balanceItem.sellNumber}}" type="number" class="inputBox" (change)="autoBalanceSellChanged($event, balanceItem)"/>
              <button (click)="inventoryService.unAutoBalance(balanceItem.name)">Stop Balancing</button>
            </span>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab *ngIf="homeService.autoBuyLandUnlocked || homeService.autoBuyHomeUnlocked || homeService.autoBuyFurnitureUnlocked || autoBuyerService.autoBuyerSettingsUnlocked">
      <ng-template mat-tab-label>
        <span class="tab-label">Auto-buy</span>
      </ng-template>

      <div *ngIf="homeService.autoBuyLandUnlocked || homeService.autoBuyHomeUnlocked || homeService.autoBuyFurnitureUnlocked" class="optionField">
        <span>
          <input type="checkbox" (change)="useAutoBuyReserveChanged($event)"
            id="useAutoBuyReserve"  [checked]="homeService.useAutoBuyReserve"/>
          <label for="useAutoBuyReserve">Auto-buying should reserve </label>
          <input min="0" value="{{homeService.autoBuyReserveAmount}}" type="number" class="inputBox" (change)="autoBuyReserveAmountChanged($event)"/> taels instead of 10 days worth of expenses
        </span>
      </div>
      <div *ngIf="autoBuyerService.autoBuyerSettingsUnlocked" class="optionField">
        <span>
          Auto-Buyer Options:
          <table class="priorityTable">
            <tr>
              <th colspan="3">Priority Order</th>
              <th>Enabled</th>
              <th>Wait For Finish</th>
            </tr>
            <tr *ngFor="let setting of autoBuyerService.autoBuyerSettings; let index = index; let first = first; let last = last;">
              <td>
                <button [disabled]="first" class="reorderListButton" (click)="autoBuySettingsPriorityChanged(index, true)">&#9650;</button>
              </td>
              <td>
                <button [disabled]="last"  class="reorderListButton" (click)="autoBuySettingsPriorityChanged(index, false)">&#9660;</button>
              </td>
              <td class="priorityTableNameColumn">{{setting.label}}</td>
              <td class="priorityTableCheckboxColumn">
                <input type="checkbox" (change)="autoBuySettingsEnabledChange($event, setting)" [checked]="setting.enabled"/>
              </td>
              <td class="priorityTableCheckboxColumn">
                <input type="checkbox" (change)="autoBuySettingsWaitForFinishChange($event, setting)" [checked]="setting.waitForFinish"/>
              </td>
            </tr>
          </table>
        </span>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>