.optionsDiv {
  overflow-y: auto;
  max-height: 600px;
  min-height: 250px;
}

.inputBox {
  width: 70px;
}

.optionField {
  margin-top: 2px;
}

button {
  margin-top: 2px;
}

.scrollingDiv {
  max-height: 200px;
  overflow: auto;
}

.indent {
  margin-left: 24px;
}