<span class="panelHeader">How will you spend your time?</span>
<mat-icon (click)="pauseClick()">{{mainLoopService.pause ? "play_arrow" : "pause"}}</mat-icon>
<table>
  <tr *ngFor="let entry of activityService.activityLoop; let indexOfelement=index;">
    <td>{{activityService.getActivityByType(entry.activity).name[activityService.getActivityByType(entry.activity).level]}} ({{entry.repeatTimes}} {{(entry.repeatTimes === 1) ? "day" : "days"}})</td>
    <td>
      <progress class="activity-progress"
        [value]="entry === currentLoopEntry ? currentTickCount : (indexOfelement < currentIndex ? entry.repeatTimes * TICKS_PER_DAY : 0)"
        [max]="entry.repeatTimes * TICKS_PER_DAY">
      </progress>
    </td>
    <td>
      <mat-icon (click)="onPlusClick(entry)">add</mat-icon>
      <mat-icon (click)="onMinusClick(entry)">remove</mat-icon>
      <mat-icon (click)="onUpClick(entry)">arrow_upward</mat-icon>
      <mat-icon (click)="onDownClick(entry)">arrow_downward</mat-icon>
      <mat-icon (click)="onRemoveClick(entry)">clear</mat-icon>
    </td>
  </tr>
</table>
