
table {
  width: 100%;
}

td {
  border-top: 1px white solid;
  white-space: nowrap;
}

table td:nth-child(3) {
  text-align: end;
}

mat-icon {
  border: 1px black solid;
  height: 16px;
  width: 16px;
  font-size: 16px;
  margin: 4px;
  vertical-align: middle;
}