<div class="dropAccepter" id="activityDropDiv">
  <h3 >
    <span>
      How will you spend your days?
    </span>
    <mat-icon (click)="pauseClick()" [ngClass]="{'iconActive': this.mainLoopService.pause}"
      tooltip="Pause the game. 
      Hotkey: Alt-0 to pause or spacebar to toggle. 
      Clicking this again while paused will step time forward a single day. 
      When paused, you can also advance one day by pressing the Enter key." class="iconButton" aria-label="Pause" aria-hidden="false">
      pause
    </mat-icon>

    <mat-icon (click)="slowClick()" [ngClass]="{'iconActive': (mainLoopService.tickDivider === 40 && !this.mainLoopService.pause)}"
      tooltip="Slow Game Speed (1 day/sec).
      Hotkey: Alt-1" class="iconButton" aria-label="Slow Speed" aria-hidden="false">
      slow_motion_video
    </mat-icon>
    <mat-icon (click)="standardClick()" [ngClass]="{'iconActive': (mainLoopService.tickDivider === 10 && !this.mainLoopService.pause)}"
      tooltip="Standard Game Speed ({{mainLoopService.getTPS(10) | number: '1.0-2'}} days/sec).
      Hotkey: Alt-2" class="iconButton" aria-label="Standard Speed" aria-hidden="false">
      play_arrow
    </mat-icon>
    @if (mainLoopService.unlockFastSpeed) {
      <mat-icon [ngClass]="{'iconActive': (mainLoopService.tickDivider === 5 && !this.mainLoopService.pause)}"
      (click)="fastClick()" tooltip="Fast Game Speed ({{mainLoopService.getTPS(5) | number: '1.0-2'}} days/sec).
      Hotkey: Alt-3" class="iconButton" aria-label="Fast Speed" aria-hidden="false">
        fast_forward
      </mat-icon>
    }
    @if (mainLoopService.unlockFasterSpeed) {
      <mat-icon [ngClass]="{'iconActive': (mainLoopService.tickDivider === 2 && !this.mainLoopService.pause)}"
      (click)="fasterClick()" tooltip="Faster Game Speed ({{mainLoopService.getTPS(2) | number: '1.0-2'}} days/sec).
      Hotkey: Alt-4" class="iconButton" aria-label="Faster Speed" aria-hidden="false">
        skip_next
      </mat-icon>
    }
    @if (mainLoopService.unlockFastestSpeed) {
      <mat-icon [ngClass]="{'iconActive': (mainLoopService.tickDivider === 1 && !this.mainLoopService.pause)}"
      (click)="fastestClick()" tooltip="Fastest Game Speed ({{mainLoopService.getTPS(1) | number: '1.0-2'}} days/sec).
      Hotkey: Alt-5" class="iconButton" aria-label="Fastest Speed" aria-hidden="false">
        bolt
      </mat-icon>
    }
    @if (activityService.autoRestart) {
      <mat-icon  (click)="timeOptions()" tooltip="Options" class="iconButton" aria-label="Time Options" aria-hidden="false">
        settings
      </mat-icon>
    }

    <h6>
      <input type="checkbox" (change)="useSavedTicks($event)" id="useSavedTicks"
        [checked]="mainLoopService.useBankedTicks"/>
      <label for="useSavedTicks">Use banked time to accelerate reality (10x). {{mainLoopService.bankedTicks | bigNumber}} time ticks left.</label>
    </h6>
  </h3>
  <div class="overflow" cdkDropList cdkDropListSortingDisabled>
    @if (characterService.characterState.manaUnlocked) {
      <table class="spiritActivityPanel" id="spiritActivity"
        (drop)="spiritActivityDrop($event)">
        <tr>
          <td class="spiritProjectionLabel" tooltip="You can project your spiritual self to take on a second activity while your physical body continues its work. Whatever activity you drop here will be completed each day as long as you have enough mana to support the effort. Requires 5 mana in addition to the regular requirements of the activity.">
            Spiritual Projection
          </td>
        </tr>
        @if (activityService.spiritActivity !== null) {
          <tr>
            <td>{{getActivityName(activityService.spiritActivity)}}</td>
            <td>
              <div class="progress-bar" [ngClass]="{'indeterminate': activityService.spiritActivityProgress && !mainLoopService.pause}">
                <span></span>
              </div>
            </td>
            <td>
              <mat-icon tooltip="Remove this activity from the schedule." (click)="removeSpiritActivity()" class="iconButton" aria-label="Remove Activity" aria-hidden="false">clear</mat-icon>
            </td>
          </tr>
        }
      </table>
    }

    <table>
      <ng-container *ngFor="let entry of activityService.activityLoop; let indexOfelement=index;">
        @if (getActivityName(entry.activity) !== '') {
          <tr id="activityLoopIndex{{indexOfelement}}"
            cdkDrag [cdkDragData]="indexOfelement"
            (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)" cdkDragPreviewClass="currentRow">
            <td [ngClass]="{'currentRow': indexOfelement === activityService.currentIndex, 'disabled': entry.disabled}" id="activityLoopIndex0{{indexOfelement}}">
              {{getActivityName(entry.activity)}} ({{entry.repeatTimes}} {{(entry.repeatTimes === 1) ? "day" : "days"}})
            </td>
            <td [ngClass]="{'currentRow': indexOfelement === activityService.currentIndex, 'disabled': entry.disabled}" id="activityLoopIndex1{{indexOfelement}}">
              <div class="progress-bar">
                <span
                  [style.width.%]="100 * (indexOfelement !== activityService.currentIndex || entry.disabled ? entry.repeatTimes : activityService.currentTickCount) / entry.repeatTimes">
                </span>
              </div>
            </td>
            <td [ngClass]="{'currentRow': indexOfelement === activityService.currentIndex, 'disabled': entry.disabled}" id="activityLoopIndex2{{indexOfelement}}">
            <mat-icon tooltip="Spend fewer days on this.

            Shift- or Ctrl-click to remove 10x
            Shift-Ctrl-click to remove 100x"
              (click)="onMinusClick(entry, $event)" class="iconButton" aria-label="Remove Days" aria-hidden="false">remove</mat-icon>
            <mat-icon tooltip="Spend more days on this.

            Shift- or Ctrl-click to add 10x
            Shift-Ctrl-click to add 100x"
              (click)="onPlusClick(entry, $event)" class="iconButton" aria-label="Add Days" aria-hidden="false">add</mat-icon>
              <mat-icon tooltip="Disable this activity on the schedule." (click)="onDisableClick(entry)" class="iconButton" aria-label="Disable Activity" aria-hidden="false">cancel</mat-icon>
              <mat-icon tooltip="Remove this activity from the schedule." (click)="onRemoveClick(entry)" class="iconButton" aria-label="Remove Activity" aria-hidden="false">clear</mat-icon>
            </td>
          </tr>
        }
      </ng-container>
    </table>

  </div>
</div>
