<div cdkDragHandle class="panelHeader">
  <mat-icon>
    calendar_month
  </mat-icon>
  Time
  <mat-icon class="panelHelp" matTooltip="Achieving immortality doesn't happen overnight. It takes lifetimes of hard work. Choose how to schedule your days to take care of your basic needs and develop your immortal potential. Click the schedule button on activities or drag them here to put them on your schedule. When you allow time to move forward, you will perform each activity in your schedule in the order it is listed. You can move scheduled activities around or repeat activities over multiple days. Don't forget to schedule some rest too! You'll need to take a break now and then in your journey toward immortality.">
    help
  </mat-icon>
  
</div>
<div class="dropAccepter" id="activityDropDiv" (dragover)="allowDrop($event)" (drop)="drop(activityService.activityLoop.length, $event)">
  <h3 >
    <span>
      How will you spend your days?
    </span>
    <mat-icon (click)="pauseClick()" [ngClass]="{'iconActive': this.mainLoopService.pause}"
      matTooltip="Pause the game. 
      Hotkey: Alt-0 to pause or spacebar to toggle. 
      Clicking this again while paused will step time forward a single day. 
      When paused, you can also advance one day by pressing the Enter key." class="iconButton" aria-label="Pause" aria-hidden="false">
      pause
    </mat-icon>

    <mat-icon (click)="slowClick()" [ngClass]="{'iconActive': (mainLoopService.tickDivider === 40 && !this.mainLoopService.pause)}"
      matTooltip="Slow Game Speed (1 day/sec).
      Hotkey: Alt-1" class="iconButton" aria-label="Slow Speed" aria-hidden="false">
      slow_motion_video
    </mat-icon>
    <mat-icon (click)="standardClick()" [ngClass]="{'iconActive': (mainLoopService.tickDivider === 10 && !this.mainLoopService.pause)}"
      matTooltip="Standard Game Speed ({{mainLoopService.getTPS(10) | number: '1.0-2'}} days/sec).
      Hotkey: Alt-2" class="iconButton" aria-label="Standard Speed" aria-hidden="false">
      play_arrow
    </mat-icon>
    <mat-icon *ngIf="mainLoopService.unlockFastSpeed" [ngClass]="{'iconActive': (mainLoopService.tickDivider === 5 && !this.mainLoopService.pause)}"
      (click)="fastClick()" matTooltip="Fast Game Speed ({{mainLoopService.getTPS(5) | number: '1.0-2'}} days/sec).
      Hotkey: Alt-3" class="iconButton" aria-label="Fast Speed" aria-hidden="false">
      fast_forward
    </mat-icon>
    <mat-icon *ngIf="mainLoopService.unlockFasterSpeed" [ngClass]="{'iconActive': (mainLoopService.tickDivider === 2 && !this.mainLoopService.pause)}"
      (click)="fasterClick()" matTooltip="Faster Game Speed ({{mainLoopService.getTPS(2) | number: '1.0-2'}} days/sec).
      Hotkey: Alt-4" class="iconButton" aria-label="Faster Speed" aria-hidden="false">
      skip_next
    </mat-icon>
    <mat-icon *ngIf="mainLoopService.unlockFastestSpeed" [ngClass]="{'iconActive': (mainLoopService.tickDivider === 1 && !this.mainLoopService.pause)}"
      (click)="fastestClick()" matTooltip="Fastest Game Speed ({{mainLoopService.getTPS(1) | number: '1.0-2'}} days/sec).
      Hotkey: Alt-5" class="iconButton" aria-label="Fastest Speed" aria-hidden="false">
      bolt
    </mat-icon>
    <mat-icon  *ngIf="activityService.autoRestart" (click)="timeOptions()" matTooltip="Options" class="iconButton" aria-label="Time Options" aria-hidden="false">
      settings
    </mat-icon>

    <h6>
      <input type="checkbox" (change)="useSavedTicks($event)" id="useSavedTicks"
        [checked]="mainLoopService.useBankedTicks"/>
      <label for="useSavedTicks">Use banked time to accelerate reality (10x). {{mainLoopService.bankedTicks | number: '1.0-0'}} time ticks left.</label>
    </h6>
  </h3>
  <div class="overflow">
    <table>
      <ng-container *ngFor="let entry of activityService.activityLoop; let indexOfelement=index;">
        <tr *ngIf="getActivityName(entry.activity) !== ''" id="activityLoopIndex{{indexOfelement}}"
          draggable="true" (dragover)="allowDrop($event)" (drop)="drop(indexOfelement, $event)" (dragstart)="drag(indexOfelement, $event)">
          <td [ngClass]="{'currentRow': indexOfelement === activityService.currentIndex, 'disabled': entry.disabled}" id="activityLoopIndex0{{indexOfelement}}">
            {{getActivityName(entry.activity)}} ({{entry.repeatTimes}} {{(entry.repeatTimes === 1) ? "day" : "days"}})
          </td>
          <td [ngClass]="{'currentRow': indexOfelement === activityService.currentIndex, 'disabled': entry.disabled}" id="activityLoopIndex1{{indexOfelement}}">
            <div class="progress-bar">
              <span
                [style.width.%]="100 * (indexOfelement !== activityService.currentIndex || entry.disabled ? entry.repeatTimes : activityService.currentTickCount) / entry.repeatTimes">
              </span>
            </div>
          </td>
          <td [ngClass]="{'currentRow': indexOfelement === activityService.currentIndex, 'disabled': entry.disabled}" id="activityLoopIndex2{{indexOfelement}}">
            <mat-icon matTooltip="Spend fewer days on this.

            Shift- or Ctrl-click to remove 10x
            Shift-Ctrl-click to remove 100x"
            (click)="onMinusClick(entry, $event)" class="iconButton" aria-label="Remove Days" aria-hidden="false">remove</mat-icon>
            <mat-icon matTooltip="Spend more days on this.

            Shift- or Ctrl-click to add 10x
            Shift-Ctrl-click to add 100x"
            (click)="onPlusClick(entry, $event)" class="iconButton" aria-label="Add Days" aria-hidden="false">add</mat-icon>
            <mat-icon matTooltip="Disable this activity on the schedule." (click)="onDisableClick(entry)" class="iconButton" aria-label="Disable Activity" aria-hidden="false">cancel</mat-icon>
            <mat-icon matTooltip="Remove this activity from the schedule." (click)="onRemoveClick(entry)" class="iconButton" aria-label="Remove Activity" aria-hidden="false">clear</mat-icon>

          </td>
        </tr>
      </ng-container>
    </table>

    <table *ngIf="characterService.characterState.manaUnlocked" class="spiritActivityPanel"
    (drop)="spiritActivityDrop($event)" (dragover)="allowDrop($event)">
      <tr>
        <td class="spiritProjectionLabel" matTooltip="You can project your spiritual self to take on a second activity while your physical body continues its work. Whatever activity you drop here will be completed each day as long as you have enough mana to support the effort. Requires 5 mana in addition to the regular requirements of the activity.">
          Spiritual Projection
        </td>
      </tr>
      <tr *ngIf="activityService.spiritActivity !== null">
        <td>{{getActivityName(activityService.spiritActivity)}}</td>
        <td>
          <div class="progress-bar" [ngClass]="{'indeterminate': activityService.spiritActivityProgress && !mainLoopService.pause}">
            <span></span>
          </div>
        </td>
        <td>
          <mat-icon matTooltip="Remove this activity from the schedule." (click)="removeSpiritActivity()" class="iconButton" aria-label="Remove Activity" aria-hidden="false">clear</mat-icon>
        </td>
      </tr>
    </table>
  </div>

  <div class="saveButtonBar">
    <div class="saveButtonGroup">
      <div class="saveButton" matTooltip="Save your current schedule of actviities (Schedule #1)." (click)="activityService.saveActivityLoop()">
        <mat-icon class="iconButton saveIcon" aria-label="Save Schedule 1" aria-hidden="false">
          content_paste
        </mat-icon>
        <div class="saveSlot">1</div>
      </div>
      <div class="saveButton" matTooltip="Save your current schedule of actviities (Schedule #2)." (click)="activityService.saveActivityLoop(2)">
        <mat-icon class="iconButton saveIcon" aria-label="Save Schedule 2" aria-hidden="false">
          content_paste
        </mat-icon>
        <div class="saveSlot">2</div>
      </div>
      <div class="saveButton" matTooltip="Save your current schedule of actviities (Schedule #3)." (click)="activityService.saveActivityLoop(3)">
        <mat-icon class="iconButton saveIcon" aria-label="Save Schedule 3" aria-hidden="false">
          content_paste
        </mat-icon>
        <div class="saveSlot">3</div>
      </div>
    </div>
    <div class="saveButtonGroup">
      <div class="saveButton" matTooltip="Load your saved schedule of actviities (Schedule #1). Note that activities that you cannot do right now will not be loaded."  (click)="activityService.loadActivityLoop()">
        <mat-icon class="iconButton saveIcon" aria-label="Load Schedule 1" aria-hidden="false">
          content_paste_go
        </mat-icon>
        <div class="saveSlot">1</div>
      </div>
      <div class="saveButton" matTooltip="Load your saved schedule of actviities (Schedule #2). Note that activities that you cannot do right now will not be loaded." (click)="activityService.loadActivityLoop(2)">
        <mat-icon class="iconButton saveIcon" aria-label="Load Schedule 2" aria-hidden="false">
          content_paste_go
        </mat-icon>
        <div class="saveSlot">2</div>
      </div>
      <div class="saveButton" matTooltip="Load your saved schedule of actviities (Schedule #3). Note that activities that you cannot do right now will not be loaded." (click)="activityService.loadActivityLoop(3)">
        <mat-icon class="iconButton saveIcon" aria-label="Load Schedule 3" aria-hidden="false">
          content_paste_go
        </mat-icon>
        <div class="saveSlot">3</div>
      </div>
    </div>
    <mat-icon matTooltip="Clear your current schedule."
      class="iconButton saveIcon" aria-label="Clear Schedule" aria-hidden="false" (click)="activityService.activityLoop = []">
      delete_sweep
    </mat-icon>
  </div>
</div>
<div class="panelResizeHandle"></div>