@import (reference) "../../styles.less";

.progress-bar {
  vertical-align: -0.4em;
  margin-left: 4px;
  margin-right: 4px;
}

.health > .progress-bar > span {
  background-color: var(--healthColor);
}

.stamina > .progress-bar > span {
  background-color: var(--staminaColor);
}

.nutrition > .progress-bar > span {
  background-color: var(--nutritionColor);
}

.qi > .progress-bar > span {
  background-color: var(--qiColor);
}

.statusRow {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.lastColumn {
  flex-grow: 1;
}

.statusCell{
  flex-grow: 1;
  flex-basis: 0;
}

td {
  font-size:12px;
}

.yinYang {
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  overflow: hidden;
}

.flash {
  box-shadow: 0 0 5px 5px #48abe0;
  transition: box-shadow ease-out 0.5s;
 }

.healthContainer {
  min-height: 90px;
  min-width: 600px;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.popupTextColor {
  color: var(--popupTextColor);
}

.popupTextNegativeColor {
  color: red;
}

.popupText {
  position: absolute;
  transform: translateZ(0);
  z-index: 10000;
  font-size: x-small;
}

mat-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
  margin-left: 1px;
  margin-right: 1px;
  vertical-align: middle;
  color: var(--bodyText);
}
