<span class="panelHeader">You are {{gameStateService.gameState.characterState.age / (24 * 365) | number: '1.0-0'}} years,
  {{(gameStateService.gameState.characterState.age / (24)) % 365 | number: '1.0-0'}} days old.
  You expect to live to {{gameStateService.gameState.characterState.lifespan / (24 * 365) | number: '1.0-0'}}.
</span>
<table>
  <ng-container *ngFor="let statusObject of gameStateService.gameState.characterState.status | keyvalue">
  <tr *ngIf="(statusObject.value.max != 0)">
    <td>{{statusObject.key | titlecase}}</td>
    <td class="{{statusObject.key}}">
      <progress
        [value]="statusObject.value.current"
        [max]="statusObject.value.max">
        <div></div>
      </progress>
    </td>
  </tr>
  </ng-container>
</table>
