<div class="darkMode">
  <h3>Log Filters</h3>
  <span class="filters">
    <ng-container *ngFor="let topic of logTopics">
      <input
        type="checkbox"
        (change)="topicFilter($event, topic)"
        [id]="'filter' + topic"
        [checked]="logService.topicProperties[topic].enabled" />
      <label [for]="'filter' + topic">
        Show {{topic}} Log Entries
        <span class="highlightText" *ngIf="logService.topicProperties[topic].hasNewMessages"> (new)</span>
      </label>
      <br/>
    </ng-container>
  </span>
</div>
