<div class="darkMode">
  <h3>Change Log</h3>
  <hr />
  <div class="changeLogContainer">
    <table>
      <tr>
        <td>v1.1.2</td>
        <td>Background music is now available in the options panel, this can also improve performance when the game's tab is not active on some browsers (even if the tab is muted). A new achievement makes it easier to get regular daily yields from your farm fields. Some logging and preformance improvements for cultivators experiencing time at very high rates.</td>
      </tr>
      <tr>
        <td>v1.1.1</td>
        <td>Your spiritual projection can no longer do activities you can't do yourself. Reduced the grind required on some hells. Added a Dismiss All Followers button. Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.1.0</td>
        <td>Hell Expansion for advanced cultivators who are ready to move beyond simple immortality. Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.63</td>
        <td>Grandmother still loves you even when you are very powerful. Additional accessibility support. Bug fixes</td>
      </tr>
      <tr>
        <td>v1.0.62</td>
        <td>Screen readers can now read the game's icon buttons. Core Cultivation will not show up until mana is unlocked. Balancing Chi is now available earlier but will not work at full strength until mana is unlocked. New achievements. Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.61</td>
        <td>A new achievement for managing your followers. Immortality races Season 1 (see the Discord). Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.60</td>
        <td>Equipment and Home panels can now be collapsed. Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.59</td>
        <td>Life summary panel. Tips are available for cultivators who don't want to figure things out on their own. Automated merging is easier to achieve. Low level crafting produces better items. Balance changes to equipment and boss fights. Game speed hotkeys changed. Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.58</td>
        <td>Tuned equipment degradation down. Equipment should now reach equilibrium between damage and improvement at higher points.</td>
      </tr>
      <tr>
        <td>v1.0.57</td>
        <td>Fix for wooden weapons not getting proper benefit from weaponsmiths.</td>
      </tr>
      <tr>
        <td>v1.0.56</td>
        <td>New tooltip system. Notification for offline tick gains. Minor changes to import/export functions. Equipment damage system changed. Hotkeys 0-5 for game speeds. Activities you can't do now show as disabled instead of disappearing. Notification popups. Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.55</td>
        <td>Monsters have started dropping better hides. Inventory sorting. A new activity. More options panel options. You can import and export save files instead of text blocks. Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.54</td>
        <td>Preformance improvements to allow experienced cultivators fly through the centuries. A new activity. Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.53</td>
        <td>You might be more powerful now. Certain enemies might also be. More powerful herbs have been spotted in the wilds. New crafting options. UI improvements and bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.52</td>
        <td>Even more Bloodline ascensions are now available. New activities. Bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.51</td>
        <td>A Statistics Panel is now available to show cultivators some information about what they have done. Additional Bloodline ascensions are now available. A late game boss is stronger but now has less health to make that fight less of a grind. Cultivators with the right knowledge can automatically rest instead of becoming exhausted. Some additional game options are available. Balance changes and bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.50</td>
        <td>An easy mode is available to cultivators who think the game is too hard. New achievements and manuals. New activities for magically empowered seekers of immortality. UI improvements. Bug fixes and balance improvements.</td>
      </tr>
      <tr>
        <td>v1.0.49</td>
        <td>Pause before death is available if you know the right secrets. Improvements to followers. Better game performance. </td>
      </tr>
      <tr>
        <td>v1.0.48</td>
        <td>Better follower management. Item names stay more consistent when merged and upgraded. Balance and bug fixes.</td>
      </tr>
      <tr>
        <td>v1.0.47</td>
        <td>Better inventory slots that don't jiggle around. Auto-sell and auto-use can now reserve some of the items (set value in the options panel). Bug and balance fixes.</td>
      </tr>
      <tr>
        <td>v1.0.46</td>
        <td>Condensing your Soul Core now provides greater benefits.</td>
      </tr>
      <tr>
        <td>v1.0.45</td>
        <td>A powerful new pill can now be created by aspiring immortals who have mastered many jobs.</td>
      </tr>
      <tr>
        <td>v1.0.44</td>
        <td>Autobuy options are now configurable if you have found the secret knowledge needed.</td>
      </tr>
      <tr>
        <td>v1.0.43</td>
        <td>When the game is paused you can advance a day with the Enter key. Time now moves faster the older you are starting at 5,000 years old. Base lifespan now increases based on total days lived, not number of lives lived. Balance changes to attributes and aptitudes.</td>
      </tr>
      <tr>
        <td>v1.0.42</td>
        <td>Gaining large numbers of items at once is now much more efficient, so having obscenely huge farms no longer breaks the game.</td>
      </tr>
      <tr>
        <td>v1.0.41</td>
        <td>Panel size fixes. Bloodline ascension rank 5. Fixed log line duplication bug. Pause on death should no longer allow extra days to pass before pausing.</td>
      </tr>
      <tr>
        <td>v1.0.40</td>
        <td>Changed the way damage and armor work. Late-game fights should now be more epic and interesting.</td>
      </tr>
      <tr>
        <td>v1.0.39</td>
        <td>Better descriptions for resting activities. Shift-click activities to load them onto the schedule 10 at a time. Canopy beds give more health.</td>
      </tr>
      <tr>
        <td>v1.0.38</td>
        <td>Better performance for aspiring immortals who want to buy vast tracts of land.</td>
      </tr>
      <tr>
        <td>v1.0.37</td>
        <td>New status bars that show values on non-chrome browsers.</td>
      </tr>
      <tr>
        <td>v1.0.36</td>
        <td>You can now choose how much money to reserve when doing automatic purchases.</td>
      </tr>
      <tr>
        <td>v1.0.35</td>
        <td>The log panel can now be resized by sliding the slider up and down. The Ascension Techniques panel stays
          unlocked once unlocked. Old junky gems can now be easily removed if you know how.</td>
      </tr>
      <tr>
        <td>v1.0.34</td>
        <td>Style fix, clear schedule button, and auto-equip can now be turned off in the options.</td>
      </tr>
      <tr>
        <td>v1.0.33</td>
        <td>Some styling improvements and a fix to very late game reward loot.</td>
      </tr>
      <tr>
        <td>v1.0.32</td>
        <td>Automerging will now upgrade equipped weapons and armor if all merge manuals have been achieved and
          purchased.</td>
      </tr>
      <tr>
        <td>v1.0.31</td>
        <td>Some balance changes.</td>
      </tr>
      <tr>
        <td>v1.0.30</td>
        <td>A certain impossible task is now slightly less impossible.</td>
      </tr>
      <tr>
        <td>v1.0.29</td>
        <td>Silly levels that stamina could reach are now slightly less silly. Pausing the game banks time ticks.</td>
      </tr>
      <tr>
        <td>v1.0.28</td>
        <td>Improvements to automatic home purchasing.</td>
      </tr>
      <tr>
        <td>v1.0.27</td>
        <td>You can now save and load an activity schedule.</td>
      </tr>
      <tr>
        <td>v1.0.26</td>
        <td>Fixed a bug with activities incorrectly being removed from the schedule on reincarnation.</td>
      </tr>
      <tr>
        <td>v1.0.25</td>
        <td>New activities and activity upgrades now get log entries. Armor now degrades when attacked.</td>
      </tr>
      <tr>
        <td>v1.0.24</td>
        <td>Bug fix for aspiring immortals who got tangled up while trying to swim to the bottom of the ocean.</td>
      </tr>
      <tr>
        <td>v1.0.23</td>
        <td>Bug fix for aspiring immortals who achieved infinite wealth. Money is now capped at an amount that is plenty
          for everything but doesn't break your computer.</td>
      </tr>
      <tr>
        <td>v1.0.22</td>
        <td>Leatherworking and Woodworking now have master ranks. You can now see how much money you made on each job
          the last time you did it. Better logs can now be chopped.</td>
      </tr>
      <tr>
        <td>v1.0.21</td>
        <td>Followers can now be trained to be more powerful and can be automatically dismissed by job.</td>
      </tr>
      <tr>
        <td>v1.0.20</td>
        <td>Added Discord link.</td>
      </tr>
      <tr>
        <td>v1.0.19</td>
        <td>Added changelog.</td>
      </tr>
      <tr>
        <td>v1.0.18</td>
        <td>New follower types are now available.</td>
      </tr>
      <tr>
        <td>v1.0.17</td>
        <td>Crafting log entries can now be filtered out.</td>
      </tr>
      <tr>
        <td>v1.0.16</td>
        <td>Added tutorial help button.</td>
      </tr>
      <tr>
        <td>v0.0.0 - v1.0.15</td>
        <td>Created and launched the game.</td>
      </tr>
    </table>
  </div>
</div>
