<div class="darkMode">
  <h3>Change Log</h3>
  <hr/>
  <div class="changeLogContainer">
    <table>
        <tr>
        <td>v1.0.35</td>
        <td>The log panel can now be resized by sliding the slider up and down. The Ascension Techniques panel stays unlocked once unlocked. Old junky gems can now be easily removed if you know how.</td>
        </tr>
        <tr>
        <td>v1.0.34</td>
        <td>Style fix, clear schedule button, and auto-equip can now be turned off in the options.</td>
        </tr>
        <tr>
        <td>v1.0.33</td>
        <td>Some styling improvements and a fix to very late game reward loot.</td>
        </tr>
        <tr>
        <td>v1.0.32</td>
        <td>Automerging will now upgrade equipped weapons and armor if all merge manuals have been achieved and purchased.</td>
        </tr>
        <tr>
        <td>v1.0.31</td>
        <td>Some balance changes.</td>
        </tr>
        <tr>
        <td>v1.0.30</td>
        <td>A certain impossible task is now slightly less impossible.</td>
        </tr>
        <tr>
        <td>v1.0.29</td>
        <td>Silly levels that stamina could reach are now slightly less silly. Pausing the game banks time ticks.</td>
        </tr>
        <tr>
        <td>v1.0.28</td>
        <td>Improvements to automatic home purchasing.</td>
        </tr>
        <tr>
        <td>v1.0.27</td>
        <td>You can now save and load an activity schedule.</td>
        </tr>
        <tr>
        <td>v1.0.26</td>
        <td>Fixed a bug with activities incorrectly being removed from the schedule on reincarnation.</td>
        </tr>
        <tr>
        <td>v1.0.25</td>
        <td>New activities and activity upgrades now get log entries. Armor now degrades when attacked.</td>
        </tr>
        <tr>
        <td>v1.0.24</td>
        <td>Bug fix for aspiring immortals who got tangled up while trying to swim to the bottom of the ocean.</td>
        </tr>
        <tr>
        <td>v1.0.23</td>
        <td>Bug fix for aspiring immortals who achieved infinite wealth. Money is now capped at an amount that is plenty for everything but doesn't break your computer.</td>
        </tr>
        <tr>
        <td>v1.0.22</td>
        <td>Leatherworking and Woodworking now have master ranks. You can now see how much money you made on each job the last time you did it. Better logs can now be chopped.</td>
        </tr>
        <tr>
        <td>v1.0.21</td>
        <td>Followers can now be trained to be more powerful and can be automatically dismissed by job.</td>
        </tr>
        <tr>
        <td>v1.0.20</td>
        <td>Added Discord link.</td>
        </tr>
        <tr>
        <td>v1.0.19</td>
        <td>Added changelog.</td>
        </tr>
        <tr>
        <td>v1.0.18</td>
        <td>New follower types are now available.</td>
        </tr>
        <tr>
        <td>v1.0.17</td>
        <td>Crafting log entries can now be filtered out.</td>
        </tr>
        <tr>
        <td>v1.0.16</td>
        <td>Added tutorial help button.</td>
        </tr>
        <tr>
        <td>v0.0.0 - v1.0.15</td>
        <td>Created and launched the game.</td>
        </tr>
    </table>
    </div>
</div>
