<div class="darkMode">
    <h3>Change Log</h3>
    <hr/>
    <table>
        <tr>
            <td>v0.0.0 - v1.0.15</td>
            <td>Created and launched the game.</td>
        </tr>
        <tr>
            <td>v1.0.16</td>
            <td>Added tutorial help button.</td>
        </tr>
        <tr>
            <td>v1.0.17</td>
            <td>Crafting log entries can now be filtered out.</td>
        </tr>
        <tr>
            <td>v1.0.18</td>
            <td>New follower types are now available.</td>
        </tr>
        <tr>
            <td>v1.0.19</td>
            <td>Added changelog.</td>
        </tr>
        <tr>
            <td>v1.0.20</td>
            <td>Added Discord link.</td>
        </tr>
    </table>
</div>
