:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.app-bar {
    display: flex;
    gap: 4px;
    align-items: center;
}

.app-title {
    font-size: 1.5rem;
}

.main-part {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grow {
    flex-grow: 1;
}

.drawer-container {
    flex-grow: 1;
    background: radial-gradient(circle at 50% 80%, #aaaaaa 0%, var(--bodyBackground) 25px, #ffffff 60px, var(--bodyBackground) 20%, #ffffff);
    display: flex;
    flex-direction: column;
}

.drawer-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}