<div class="inventoryContainer">
  <h3 class="inventoryHeader">
    <div class="inventoryLabelColumn">
    </div>
    <div>
      <mat-icon tooltip="Click to sort your inventory.<br>Shift-click to toggle autosort.<br>Ctrl-click to toggle descending."
        (click)="sortClicked($event)" class="iconButton" aria-label="Sort Inventory" aria-hidden="false" [ngClass]="{highlighted: inventoryService.autoSortEnabled(), sortHighlight: inventoryService.descendingSort()}">
        sort
      </mat-icon>
      <mat-icon  (click)="optionsClicked()" tooltip="Options" class="iconButton floatRight" aria-label="Inventory Options" aria-hidden="false">
        settings
      </mat-icon>

      @if (inventoryService.displaySelectedItem.name() !== '') {
        <span class="inventoryButtons">
          @if (inventoryService.displaySelectedItem.sellable() && !hellService.inHell()) {
            <mat-icon (click)="sell(1)" class="iconButton" aria-label="Sell" aria-hidden="false"
              tooltip="Sell one {{inventoryService.displaySelectedItem.name()}} for {{inventoryService.displaySelectedItem.value()}} taels.<br>Right-click items to sell.">
              attach_money
            </mat-icon>
          }
          @if (inventoryService.displaySelectedItem.sellable() && !hellService.inHell()) {
            <mat-icon  (click)="sellStack()" class="iconButton" aria-label="Sell Stack" aria-hidden="false"
              tooltip="Sell all the {{inventoryService.displaySelectedItem.name()}}(s) in this inventory slot for {{inventoryService.displaySelectedItem.stackValue()}} taels.<br>Shift-right-click items to sell the stack.">
              paid
            </mat-icon>
          }
          @if (inventoryService.displaySelectedItem.sellable() && !hellService.inHell()) {
            <mat-icon (click)="sellAll()" class="iconButton" aria-label="Sell All" aria-hidden="false"
              tooltip="Sell all the {{inventoryService.displaySelectedItem.name()}}(s) in the whole inventory.">
              shopping_basket
            </mat-icon>
          }
          @if (inventoryService.autoSellUnlocked() && inventoryService.displaySelectedItem.sellable() && !inventoryService.displaySelectedItem.equipment() && !hellService.inHell()) {
            <mat-icon class="iconButton" (click)="autoSell()"
              tooltip="Automatically sell this kind of item whenever you get one.<br>You can change this in the options menu later if you change your mind.<br>Ctrl-right-click items to autosell.">
              currency_exchange
            </mat-icon>
          }
          @if ((inventoryService.displaySelectedItem.useLabel() !== '')) {
            <mat-icon (click)="use($event)" class="iconButton" aria-label="Use" aria-hidden="false"
              tooltip="{{inventoryService.displaySelectedItem.useLabel()}}.<br>{{inventoryService.displaySelectedItem.useDescription()}}<br>Shift-click items to use them.<br>Shift-click or Ctrl-click this button to use more of them.">
              auto_awesome
            </mat-icon>
          }
          @if ((inventoryService.displaySelectedItem.useLabel() !== '' && inventoryService.displaySelectedItem.type() !== 'food' && inventoryService.autoUseUnlocked())) {
            <mat-icon
              (click)="autoUse()" class="iconButton" aria-label="Auto Use" aria-hidden="false"
              tooltip="Auto-{{inventoryService.displaySelectedItem.useLabel()}}.<br>{{inventoryService.displaySelectedItem.useDescription()}}<br>You can change this in the options menu later if you change your mind.<br>Ctrl-click items to auto-use.">
              auto_mode
            </mat-icon>
          }
          @if ((inventoryService.displaySelectedItem.type() === 'food' && inventoryService.autoEatUnlocked())) {
            <mat-icon
              (click)="autoUse()" class="iconButton" aria-label="Auto Eat" aria-hidden="false"
              tooltip="Wisely {{inventoryService.displaySelectedItem.useLabel()}}.<br>Automatically eat appropriate amounts of this food.<br>You can change settings for this in the options menu.">
              auto_mode
            </mat-icon>
          }
          @if ((inventoryService.displaySelectedItem.useLabel() !== '' && inventoryService.displaySelectedItem.type() !== 'food' && inventoryService.autoBalanceUnlocked() && inventoryService.displaySelectedItem.sellable()) && !hellService.inHell()) {
            <mat-icon
              class="iconButton" aria-label="Balance" aria-hidden="false" (click)="autoBalance()" tooltip="Balance between automatically using and selling this item.<br>You can change this in the options menu later if you change your mind.">
              balance
            </mat-icon>
          }
          @if ((inventoryService.displaySelectedItem.type() === 'equipment' || inventoryService.displaySelectedItem.pouchable())) {
            <mat-icon (click)="equip()" class="iconButton" aria-label="Equip" aria-hidden="false"
              tooltip="Equip this.<br>Double-click weapons or armor to equip.">
              shield
            </mat-icon>
          }
          @if ((inventoryService.displaySelectedItem.type() === gem_type)) {
            <mat-icon (click)="mergeSpiritGem()"  class="iconButton" aria-label="Merge Gem" aria-hidden="false"
              tooltip="Merge 10 of these into a higher grade gem.">
              diamond
            </mat-icon>
          }
          @if (inventoryService.displaySelectedItem.sellable()) {
            <mat-icon (click)="throwAway()"  class="iconButton" aria-label="Throw Away" aria-hidden="false"
              tooltip="Throw this stack of items away.">
              delete
            </mat-icon>
          }
        </span>
      }
    </div>
  </h3>

  <div class="selectedItemBox">
    @if (inventoryService.displaySelectedItem.name() !== ''){
      <div>
        @if (inventoryService.displaySelectedItem.imageFile()){
          <img ngSrc="{{inventoryService.displaySelectedItem.imageFile()}}" class="itemImage" priority
            [style.border-color]="inventoryService.displaySelectedItem.imageColor()"
            width="48" height="48"/>
        }
      </div>
      <div class='selectedItemText'>
        <div class='selectedItemName'>
          <span>
            {{inventoryService.displaySelectedItem.name() | titlecase}}
          </span>
        </div>
        <div class='selectedItemTextBody'>
          <span [innerHTML]="inventoryService.displaySelectedItem.description()">
          </span>
        </div>
      </div>
    }
    @else {
      <div class="itemImagePlaceholder"></div>
      <div class='selectedItemText'>
        <div class='selectedItemName'>
          <span>
            No item selected
          </span>
        </div>
        <div class='selectedItemTextBody'>
          <span>
          </span>
        </div>
      </div>
    }
  </div>

  <div class="overflow">
    <div class="inventoryGrid" cdkDropList cdkDropListSortingDisabled>
      @for (displayItemStack of inventoryService.displayItemStacks; track displayItemStack.id(); let idx = $index) {
        <div>
          <div id="itemIndex{{$index}}" >
            <div class="itemSlot" [tabindex]="displayItemStack.name() === '' ? '-1' : '0'" (click)="slotClicked(idx, $event)"
              cdkDrag (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
              [cdkDragData]="idx" [cdkDragDisabled]="displayItemStack.name() === ''"
              (dblclick)="slotDoubleClicked(idx, $event)" (contextmenu)="slotRightClicked(idx, $event)"
              [ngClass]="{'selectedItem': (displayItemStack.id() !=='' && displayItemStack.id() === inventoryService.displaySelectedItem.id()), 'heirloomSlot' : (idx < inventoryService.heirloomSlots())}"
              tooltip="{{displayItemStack.tooltip()}}">
              <div class="itemName textOverflow">
                @if (displayItemStack.imageFile() !== ''){
                  <img ngSrc="{{displayItemStack.imageFile()}}" class="itemImage" priority
                    [style.border-color]="displayItemStack.imageColor()"
                    width="48" height="48"  alt="{{displayItemStack.name() | titlecase}}"/>
                }
                @else {
                  {{displayItemStack.name() | titlecase}}
                }
              </div>
              @if ((displayItemStack.quantity() || 0) > 1) {
                <div class="itemQuantity">x{{displayItemStack.quantity()}}</div>
              }
            </div>
          </div>
        </div>

      }
  </div>
</div>
<br>
