<div class="inventoryContainer">
  <table>
    <tr>
      <td class="inventoryLabelColumn">Inventory</td>
      <td class="moneyLabelColumn">Money: </td>
      <td class="moneyColumn">{{characterService.characterState.money | number: '1.0-0'}} Taels</td>
      <td><mat-icon *ngIf="inventoryService.noFood" class="noFood"
        placement="left" tooltip="You have no food in your inventory. You will spend money on food each day to avoid starvation.">
        no_food
      </mat-icon></td>
    </tr>
  </table>

  <div class="inventoryGrid">
    <div *ngFor="let itemStack of inventoryService.itemStacks">
      <table class="itemSlot" (click)="slotClicked(itemStack, $event)" (contextmenu)="slotRightClicked(itemStack, $event)"
        [ngClass]="{'selectedItem': itemStack === inventoryService.selectedItem}"
        tooltip="{{itemStack.item.description}}" placement="left">
        <tr>{{itemStack.item.name | titlecase}}</tr>
        <tr *ngIf="itemStack.quantity > 1">{{itemStack.quantity}}</tr>
      </table>
    </div>
  </div>

  <div class="inventoryButtons" *ngIf="inventoryService.selectedItem">
    <button (click)="sell(1)" placement="left" tooltip="Sell one {{inventoryService.selectedItem.item.name}} for {{inventoryService.selectedItem.item.value}} taels. Right-click items to sell.">Sell</button>
    <button (click)="sellStack()" placement="left" tooltip="Sell all the {{inventoryService.selectedItem.item.name}} in this inventory slot for {{inventoryService.selectedItem.item.value * inventoryService.selectedItem.quantity}} taels.  Shift-right-click items to sell the stack.">Sell Stack</button>
    <button (click)="sellAll()">Sell All</button>
    <button *ngIf="inventoryService.autoSellUnlocked"
      tooltip="Automatically sell this kind of item whenever you get one. Ctrl-right-click items to autosell."
      (click)="autoSell()">Autosell</button>
    <button *ngIf="(inventoryService.selectedItem.item.useLabel !== undefined)" (click)="use()"
      placement="left" tooltip="{{inventoryService.selectedItem.item.useDescription}} Shift-click items to use.">
      {{inventoryService.selectedItem.item.useLabel}}
    </button>
    <button *ngIf="(inventoryService.selectedItem.item.useLabel !== undefined && inventoryService.autoUseUnlocked)"
      (click)="autoUse()" placement="left" tooltip="{{inventoryService.selectedItem.item.useDescription}}  Ctrl-click items to auto-use.">
      Auto-{{inventoryService.selectedItem.item.useLabel}}
    </button>
    <button *ngIf="(inventoryService.selectedItem.item.useLabel !== undefined && inventoryService.autoBalanceUnlocked)"
      (click)="autoBalance()" placement="left" tooltip="Balance between automatically using and selling this item.">
      Auto-balance
    </button>

    <button *ngIf="(inventoryService.selectedItem.item.type === 'equipment')" (click)="equip()">Equip</button>
  </div>
</div>
