@import (reference) "../../styles.less";

.inventoryContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.inventoryGrid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  justify-content: center;
  gap: 3px;
}

.itemSlot {
  width: 58px;
  height: 58px;
  overflow: hidden;
}

.itemSlot .half {
  height: fit-content;
  max-height: 50%;
}

.selectedItem {
  background-color: var(--itemSlotHighlight);
}

.itemSlot > div {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 12px;
}

.overflow {
  overflow: auto;
}



.inventoryButtons {
  border-top: 1px solid var(--panelBorder)
}

.inventoryLabelColumn {
  width: 100px;
}

.moneyLabelColumn {
  width: 50px;
  font-size: 12px;
}

.moneyColumn {
  width: 140px;
  font-size: 12px;
}

.noFood {
  font-size: 16px;
  float: right;
  margin-top: 4px;
  vertical-align: middle;
  color: var(--healthColor);
}

.panelHeader {
  display: flex;
  justify-content: space-evenly;
}