@import (reference) "../../styles.less";

.inventoryContainer{
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.itemSlot {
  width: 52px;
  height: 52px;
}

.selectedItem {
  background-color: var(--itemSlotHighlight);
}

.itemSlot > tr {
  line-height: 12px;
}

.overflow {
  overflow: auto;
}

.inventoryGrid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-left: 2px;
}

.inventoryButtons {
  border-top: 1px solid var(--panelBorder)
}

table {
  width: 100%;
}

.inventoryLabelColumn {
  width: 100px;
}

.moneyLabelColumn {
  width: 50px;
  font-size: 12px;
}

.moneyColumn {
  width: 140px;
  font-size: 12px;
}

.noFood {
  font-size: 16px;
  float: right;
  margin-top: 4px;
  vertical-align: middle;
  color: var(--healthColor);
}

.panelHeader {
  display: flex;
  justify-content: space-evenly;
}