@import (reference) "../../styles.less";

.inventoryContainer{
    position: relative;
    height: 100%;
  }

.itemSlot {
  width: 90px;
  height: 90px;
  background-color: var(--storeButtonColor);
}

.priceLabel {
  width: 60px;
  text-align: center;
}

.selectedItem {
  background-color: var(--itemSlotHighlight);
}

.ownedItem {
  background-color: var(--storeButtonDisabledColor) !important;
  border: 1px solid var(--storeButtonDisabledColor) !important;
}

.itemSlot > tr {
  line-height: 12px;
}

.inventoryGrid {
  display: flex;
  flex-wrap: wrap;
}

table {
  width: 100%;
}

button {
  margin-top: 2px;
}

