<div class='darkMode'>
  <span>Manuals Shop</span>
  <hr/>
  <div class="inventoryGrid">
      <div *ngFor="let item of storeService.manuals">
        <div class="itemSlot" (click)="slotClicked(item)"
          [ngClass]="{'selectedItem': item === storeService.selectedItem, ownedItem: item.owned && item.owned()}"
          placement="left" tooltip="{{item.description}}">
          <div><mat-icon>menu_book</mat-icon></div>
          <div>{{item.name | titlecase}}</div>
          <div *ngIf="item.owned && !(item.owned())">$ {{item.value | bigNumber}}</div>
        </div>
        <!-- <div class="priceLabel"><span>{{item.value | bigNumber}}</span></div> -->
      </div>
  </div>
  <button (click)="storeService.buyManual()"
      [disabled]="buyDisabled">
      Buy
  </button>
</div>
