<div>
  <span>
    <input type="checkbox" (change)="pauseOnImpossibleFailChange($event)"
      id="pauseOnImpossibleFail" [checked]="activityService.pauseOnImpossibleFail"/>
    <label for="pauseOnImpossibleFail">Automatically pause if task related activity fails</label>
  </span>
  <hr/>
  @if (impossibleTaskService.activeTaskIndex >= 0) {
    <div>
      <span>Current Task: {{impossibleTaskService.tasks[impossibleTaskService.activeTaskIndex].name}}</span>
      <span>
        <div  class="progress-bar"
          [attr.value]="Math.floor(impossibleTaskService.taskProgress[impossibleTaskService.activeTaskIndex].progress)"
          [attr.max]="Math.floor(impossibleTaskService.tasks[impossibleTaskService.activeTaskIndex].progressRequired)">
          <span
          [style.width.%]="100 *
            impossibleTaskService.taskProgress[impossibleTaskService.activeTaskIndex].progress /
            impossibleTaskService.tasks[impossibleTaskService.activeTaskIndex].progressRequired">
          </span>
        </div>
      </span>
    </div>
    <br>
  }

  <div>
    <table>
      @for (task of impossibleTaskService.tasks; track task) {
        <tr>
          <td>
            @if (impossibleTaskService.nextTask >= task.taskType) {
              <span>
                <mat-icon tooltip="{{task.description}}">
                  help
                </mat-icon>
                {{task.name}}
              </span>
            }
            @if (impossibleTaskService.nextTask < task.taskType) {
              <span>
                ????????????
              </span>
            }
          </td>
          <td>
            @if (impossibleTaskService.nextTask >= task.taskType) {
              <div class="progress-bar" style="height:20px;"
                [attr.value]="Math.floor(impossibleTaskService.taskProgress[task.taskType].progress)"
                [attr.max]="Math.floor(task.progressRequired)">
                <span
                      [style.width.%]="100 *
                        impossibleTaskService.taskProgress[task.taskType].progress /
                        task.progressRequired">
                </span>
              </div>
            }
          </td>
          <td>
            @if (impossibleTaskService.taskProgress[task.taskType].complete) {
              <span>
                <mat-icon>
                  done
                </mat-icon>
              </span>
            }
            @if (impossibleTaskService.activeTaskIndex === task.taskType) {
              <span>
                <button (click)="impossibleTaskService.stopTask()">Stop</button>
              </span>
            }
            @if (impossibleTaskService.activeTaskIndex === -1 && impossibleTaskService.nextTask === task.taskType) {
              <span>
                <button (click)="impossibleTaskService.startTask()">Start</button>
              </span>
            }
          </td>
        </tr>
      }
    </table>
  </div>
</div>
<br>
