
<div class='darkMode'>
  <h3>Statistics</h3>
  <hr/>
  <div class="statisticsDiv">
    <table>
        <tr>
            <td>
                Game days per real second:
            </td>
            <td>
                {{statisticsService.daysPerSecond | number:'1.0-2'}}
            </td>
        </tr>
        <tr>
            <td>
                Game years per real minute:
            </td>
            <td>
                {{statisticsService.daysPerSecond * 60 / 365 | number:'1.0-2'}}
            </td>
        </tr>
        <tr>
            <td>
                Game years per real hour:
            </td>
            <td>
                {{statisticsService.daysPerSecond * 60 * 60 / 365 | number:'1.0-2'}}
            </td>
        </tr>
        <tr>
            <td>
                Total days lived:
            </td>
            <td>
                {{mainLoopService.totalTicks | bigNumber}}
            </td>
        </tr>
        <tr>
            <td>
                Total lives lived:
            </td>
            <td>
                {{characterService.characterState.totalLives}}
            </td>
        </tr>
        <tr>
            <td>
                Total enemies killed:
            </td>
            <td>
                {{battleService.totalKills}}
            </td>
        </tr>
        <tr>
            <td>
                Enemies killed this life:
            </td>
            <td>
                {{battleService.kills}}
            </td>
        </tr>
        <tr>
            <td>
                Troubling monsters encountered:
            </td>
            <td>
                {{battleService.troubleKills}}
            </td>
        </tr>
        <tr>
            <td>
                Manuals discovered:
            </td>
            <td>
                {{storeService.manuals.length}}
            </td>
        </tr>
        <tr>
            <td>
                Inventory Capacity:
            </td>
            <td>
                {{inventoryService.maxItems}}
            </td>
        </tr>
        <tr>
            <td>
                Automatically sold items:
            </td>
            <td>
                {{inventoryService.autoSellEntries.length}}
            </td>
        </tr>
        <tr>
            <td>
                Automatically used items:
            </td>
            <td>
                {{inventoryService.autoUseEntries.length}}
            </td>
        </tr>
        <tr>
            <td>
                Automatically balanced items:
            </td>
            <td>
                {{inventoryService.autoBalanceItems.length}}
            </td>
        </tr>
        <tr>
            <td>
                Items used:
            </td>
            <td>
                {{inventoryService.lifetimeUsedItems}}
            </td>
        </tr>
        <tr>
            <td>
                Items sold:
            </td>
            <td>
                {{inventoryService.lifetimeSoldItems}}
            </td>
        </tr>
        <tr>
            <td>
                Potions used:
            </td>
            <td>
                {{inventoryService.lifetimePotionsUsed}}
            </td>
        </tr>
        <tr>
            <td>
                Pills used:
            </td>
            <td>
                {{inventoryService.lifetimePillsUsed}}
            </td>
        </tr>
        <tr>
            <td>
                Gems sold:
            </td>
            <td>
                {{inventoryService.lifetimeGemsSold}}
            </td>
        </tr>
        <tr>
            <td>
                Items overflowed:
            </td>
            <td>
                {{inventoryService.thrownAwayItems}}
            </td>
        </tr>
        <tr>
            <td>
                Unlocked Achievements:
            </td>
            <td>
                {{achievementService.unlockedAchievements.length}}
            </td>
        </tr>
        <tr>
            <td>
                Most land owned:
            </td>
            <td>
                {{homeService.highestLand | bigNumber}}
            </td>
        </tr>
        <tr>
            <td>
                Highest land price:
            </td>
            <td>
                {{homeService.highestLandPrice | bigNumber}}
            </td>
        </tr>
        <tr>
            <td>
                Most fields owned:
            </td>
            <td>
                {{homeService.mostFields | bigNumber}}
            </td>
        </tr>
        <tr>
            <td>
                Highest average farm yield:
            </td>
            <td>
                {{homeService.highestAverageYield | number:'1.0-2'}}
            </td>
        </tr>
        <tr>
            <td>
                Best home owned:
            </td>
            <td>
                {{homeService.homesList[homeService.bestHome].name}}
            </td>
        </tr>
        <tr>
            <td>
                Follower recruited:
            </td>
            <td>
                {{followerService.totalRecruited}}
            </td>
        </tr>
        <tr>
            <td>
                Followers recruited lately:
            </td>
            <td>
                {{followerService.followersRecruited}}
            </td>
        </tr>
        <tr>
            <td>
                Followers died:
            </td>
            <td>
                {{followerService.totalDied}}
            </td>
        </tr>
        <tr>
            <td>
                Followers dismissed:
            </td>
            <td>
                {{followerService.totalDismissed}}
            </td>
        </tr>
        <tr>
            <td>
                Highest follower level:
            </td>
            <td>
                {{followerService.highestLevel}}
            </td>
        </tr>
        <tr>
            <td>
                Most money:
            </td>
            <td>
                {{characterService.characterState.highestMoney | bigNumber}}
            </td>
        </tr>
        <tr>
            <td>
                Oldest age:
            </td>
            <td>
                {{characterService.yearify(characterService.characterState.highestAge)}}
            </td>
        </tr>
        <tr  *ngFor="let highest of characterService.characterState.highestAttributes | keyvalue">
          <td>
            Highest {{highest.key | camelToTitle }}
          </td>
          <td>
              {{ highest.value | bigNumber }}
          </td>

        </tr>
        <tr>
            <td>
                Highest health:
            </td>
            <td>
                {{characterService.characterState.highestHealth}}
            </td>
        </tr>
        <tr>
            <td>
                Highest stamina:
            </td>
            <td>
                {{characterService.characterState.highestStamina}}
            </td>
        </tr>
        <tr>
            <td>
                Highest mana:
            </td>
            <td>
                {{characterService.characterState.highestMana}}
            </td>
        </tr>
        <tr>
            <td>
                Highest damage dealt:
            </td>
            <td>
                {{battleService.highestDamageDealt | bigNumber}}
            </td>
        </tr>
        <tr>
            <td>
                Highest damage taken:
            </td>
            <td>
                {{battleService.highestDamageTaken | bigNumber}}
            </td>
        </tr>
        <tr>
            <td>
                Days spent exhausted
            </td>
            <td>
                {{activityService.totalExhaustedDays | bigNumber}}
            </td>
        </tr>
        <tr>
            <td>
                Completed Apprenticeships
            </td>
            <td>
                {{activityService.completedApprenticeships.length}}
            </td>
        </tr>
        <tr>
            <td>
                Open apprenticeships:
            </td>
            <td>
                {{activityService.openApprenticeships}}
            </td>
        </tr>
        <tr>
            <td>
                Days spend doing odd jobs:
            </td>
            <td>
                {{activityService.oddJobDays}}
            </td>
        </tr>
        <tr>
            <td>
                Days spent begging:
            </td>
            <td>
                {{activityService.beggingDays}}
            </td>
        </tr>
        <tr>
            <td>
                Consecutive harvest days:
            </td>
            <td>
                {{homeService.consecutiveHarvests}}
            </td>
        </tr>
    </table>
  </div>
</div>
