<div class='darkMode'>
    <h3>Tutorial</h3>
    <hr/>
    <div class="tutorialDiv">
        <span>
            Immortality Idle is a time management incremental game inspired by cultivation stories.
            You can choose your daily activities to survive, grow, and thrive with the goal of achieving immortality.
            You will probably not achieve your goal during your first lifetime. Don't worry if you die before you succeed!
            The attributes you develop during each life will improve your aptitudes when you are reincarnated,
            making your future efforts even more effective. If you persist in your growth, find balance, and seek insights,
            you will ultimately develop magical abilities, perform impossible tasks, and become an immortal.
        </span>
        <hr>
        <span>
            Your attributes govern what you are able to do. At first, you will only be able to perform some very simple activities.
            As your attributes increase, you will find new activities appearing that you can try.
            Many of these activities will earn you money (taels), but the amount you earn depends on your attributes and
            knowledge of the related lore for the job. A strong and tough blacksmith with good knowledge of metal lore will
            make much more each day than a weak one just beginning the trade. Many activities have advanced ranks that you can achieve
            by increasing your attributes, and you may even create some items so good that you want to keep them for yourself.
        </span>
        <hr>
        <span>
            Your health shows how much damage you can take before dying. Your stamina determines how much work you can do before you are exhausted.
            Some stamina can be recovered automatically each day depending on what kind of home and furniture you have, but you may need to
            take a rest day occasionally.
        </span>
        <hr>
        <span>
            Your home is an important part of your life. A meager tent leaves you vulnerable to wild animals while a solid house can help you recover each day.
            Keeping up a home requires money each day, and better homes cost more. Not even an aspiring immortal can avoid their bills.
        </span>
        <hr>
        <span>
            You will need to eat each day to survive. If you have food in your inventory, you will automatically eat some each day.
            If you don't have food but you have money, you will spend a tael to buy enough scraps to keep you from starving. If don't have any food or money,
            you put yourself at risk of starvation. Eating a healthy diet can lead to better health, more stamina, and even a longer life.
        </span>
        <hr>
        <span>
            As you move forward on your journey toward immortality, you will unlock many achievements. Each one can provide you with a benefit.
            Some achievements will allow you to purchase valuable manuals that will provide you with new abilities essential to your immortal progression.
            The Story messages in the game's log can help you remember your major accomplishments.
        </span>
        <hr>
        <span>
            There are many secrets to discover and insights to learn.
            Many things will give you more information if you hover the mouse over them.
            If you find the game too difficult, an easy mode is available in the options panel.
            Now, it's time to develop your potential for immortality. Get to it!
        </span>
    </div>
</div>
