@import (reference) "../../styles.less";

.progress-bar {
    vertical-align: middle;
    margin-left: 8px;
}

.divineDuelsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.indented {
    margin-left: 16px;
    border-left: 2px solid var(--tableDividerColor);
    padding-left: 4px;
    margin-top: 2px;
    margin-bottom: 6px;
}

.godName {
    font-size: x-large;
}