<div cdkDragHandle [ngClass]="{'draggableCursor': !gameStateService.lockPanels}" class="panelHeader">
  <mat-icon>
    bar_chart
  </mat-icon>
  Attributes
  <mat-icon class="panelHelp" matTooltip="Your attributes define your growing immortal characteristics. You can grow your attributes through the activities that you choose. Aptitudes that you developed in your past lives can make it easier to develop attributes in your current life.">
    help
  </mat-icon>
</div>
<div class="attributesContainer">
  <div class="attributesTable">
    <div class="attributeColumn">
      @for (attribute of character.attributes | keyvalue: originalOrder; track attribute) {
        @if ((attribute.value.value !== 0 || character.highestAttributes[attribute.key])) {
          <div class='attributeLine'
            matTooltip="{{attribute.value.description}} Your aptitude of {{attribute.value.aptitude | bigNumber}} multiplies your gains by {{attribute.value.aptitudeMult | bigNumber}}.">
            <mat-icon>{{attribute.value.icon}}</mat-icon>
            <span>
              {{attribute.key | camelToTitle}}:
            </span>
          </div>
        }
      }
    </div>
    <div class="attributeColumn growColumn">
      @for (attribute of character.attributes | keyvalue: originalOrder; track attribute) {
        @if ((attribute.value.value !== 0 || character.highestAttributes[attribute.key])) {
          <div class='attributeLine'>
            <span>
              {{attribute.value.value | bigNumber}}
            </span>
            @for (update of getAttributeUpdates(attribute.key); track update) {
              <span class="popupText"
              [@popupText]=update (@popupText.done)="animationDoneEvent($event, attribute.key)">+{{update | bigNumber}}</span>
            }
          </div>
        }
      }
    </div>
  </div>
</div>
<div class="panelResizeHandle"></div>