<div class='darkMode'>
  <span>Battle Options</span>
  <hr/>
  <div>
    <input type="radio" (change)="noAttackToggle()" name="attack" id="attackNone" [checked]="!battleService.enableManaAttack && !battleService.enablePyroclasm && !battleService.enableMetalFist"/>
    <label for="attackNone"><span>No Special Attack</span></label>
  </div>
  @if (battleService.manaAttackUnlocked) {
    <div
      matTooltip="You can focus your mana around your weapon or fist to project greater power into your attacks. Doing this will double the damage that you inflict. Each use of this ability requires 10 mana.">
      <input type="radio" (change)="manaAttackToggle()" name="attack" id="manaStrike" [checked]="battleService.enableManaAttack"/>
      <label for="manaStrike"><span>Activate Mana Strike</span></label>
    </div>
  }
  @if (battleService.pyroclasmUnlocked) {
    <div
      matTooltip="Focus your mana and blast your enemies with heat so intense their children's children will get burned. Each use of this ability requires 10,000 mana.">
      <input type="radio" (change)="pyroclasmToggle()" name="attack" id="pyroclasm" [checked]="battleService.enablePyroclasm"/>
      <label for="pyroclasm"><span>Activate Pyroclasm</span></label>
    </div>
  }
  @if (battleService.metalFistUnlocked) {
    <div
      matTooltip="Focus your mana and summon a massive metal fist to crush your enemy. Each use of this ability requires 10,000 mana.">
      <input type="radio" (change)="metalFistToggle()" name="attack" id="metalFist" [checked]="battleService.enableMetalFist"/>
      <label for="metalFist"><span>Activate Metal Fist</span></label>
    </div>
  }
  <hr/>
  <div>
    <input type="radio" (change)="noShieldToggle()" name="shield" id="shieldNone" [checked]="!battleService.enableManaShield && !battleService.enableFireShield && !battleService.enableIceShield"/>
    <label for="shieldNone"><span>No Shield</span></label>
  </div>
  @if (battleService.manaShieldUnlocked) {
    <div
      matTooltip="Your mana can form a protective shroud around your body, protecting you and decreasing the damage that you take. It requires 10 mana each time the mana shield protects you.">
      <input type="radio" (change)="manaShieldToggle()" name="shield" id="manaShield" [checked]="battleService.enableManaShield"/>
      <label for="manaShield"><span>Activate Mana Shield</span></label>
    </div>
  }
  @if (battleService.fireShieldUnlocked) {
    <div
      matTooltip="Bring forth your inner fire to form a blistering barrier around you. Each use of this ability requires 10,000 mana.">
      <input type="radio" (change)="fireShieldToggle()" name="shield" id="fireShield" [checked]="battleService.enableFireShield"/>
      <label for="fireShield"><span>Activate Fire Shield</span></label>
    </div>
  }
  @if (battleService.iceShieldUnlocked) {
    <div
      matTooltip="Bring forth the ice inside you to form a freezing barrier around you that will stop your enemy's next attack. Each use of this ability requires 10,000 mana.">
      <input type="radio" (change)="iceShieldToggle()" name="shield" id="iceShield" [checked]="battleService.enableIceShield"/>
      <label for="iceShield"><span>Activate Ice Shield</span></label>
    </div>
  }

</div>
