<div class='darkMode'>
  <span>Battle Options</span>
  <hr/>
  <div>
    <span tooltip='Drink potions in your equipment pouches when the status they restore gets below this percentage.'>Potion Threshold
      <input min="0" value="{{battleService.potionThreshold}}" type="number" class="inputBox" (change)="potionThresholdChange($event)"/>%
    </span>
  </div>
  <div>
    <span tooltip='Eat Soul Food in your equipment pouches when the selected status gets below this percentage.<br>You are limited to eating {{inventoryService.maxFoodPerDay}} food per day.'>Pouch Food Threshold
      <mat-select class="selectFoodStatus" [(value)]="battleService.foodThresholdStatusType">
        <mat-option value="health">Health</mat-option>
        <mat-option value="stamina">Stamina</mat-option>
        <mat-option value="qi">Qi</mat-option>
      </mat-select>
      <input min="0" value="{{battleService.foodThreshold}}" type="number" class="inputBox" (change)="foodThresholdChange($event)"/>%
    </span>
  </div>
  <div>
    <input
    type="checkbox"
    (change)="instakillToggled($event)"
    id="instakillCheckbox"
    [checked]="battleService.instakillEnabled"
    />
    <label for="instakillCheckbox">
        <span>Enable Insta-kill</span>
    </label>
  </div>
  <div>
    <span>
      Insta-kill Note: The fastest technique that you have enabled has a chance to instantly kill an enemy you encounter if it did enough damage the last time you fought that enemy type.
      <br>
      A clever cultivator may sometimes want to disable weaker but faster techniques to take advantage of this.
    </span>
  </div>
</div>
