<div class='darkMode'>
    <span>Save Menu</span>
    <hr />
    <div>
        <span>Select Save File </span>
    </div>
    <div>
        <button [ngClass]="{highlighted: gameStateService.saveSlot === ''}" (click)="fileClicked('')">
            Slot 0
        </button>&nbsp;
        <button [ngClass]="{highlighted: gameStateService.saveSlot === '1'}" (click)="fileClicked('1')">
            Slot 1
        </button>&nbsp;
        <button [ngClass]="{highlighted: gameStateService.saveSlot === '2'}" (click)="fileClicked('2')">
            Slot 2
        </button>&nbsp;
        <span class="green">{{error}}</span>
    </div>
