<div class='darkMode'>
    <span>Save Menu</span>
    <hr />
    <div>
        <span>Select Save File </span>
    </div>
    <div>
        <button class="spaced" [ngClass]="{highlighted: gameStateService.saveSlot === ''}" (click)="fileClicked('')">
            Slot 0
        </button>
        <button class="spaced" [ngClass]="{highlighted: gameStateService.saveSlot === '1'}" (click)="fileClicked('1')">
            Slot 1
        </button>
        <button class="spaced" [ngClass]="{highlighted: gameStateService.saveSlot === '2'}" (click)="fileClicked('2')">
            Slot 2
        </button>
        <span class="green">{{error}}</span>
    </div>
    <div class="spaced">
        <span>
            <label for="autoSaveInterval">Change how often the game autosaves (in seconds) </label>
            <input value="{{gameStateService.saveInterval}}" type="number" min="1" max="900" step="1"
                (change)="autoSaveInterval($event)" id="autoSaveInterval">&nbsp;
                <span class="spaced warning">Changing this will save immediately.</span>
        </span>
    </div>
</div>