<div class="wrapper" [ngClass]="{'darkMode': gameStateService.isDarkMode}">
  <div class="mainContainer">
    <div class="top-line">
      <span class="gameTitle">
        Immortality Idle - Can you become an immortal?
        <span class="versionNumber" (click)="changelogClicked()">v{{applicationVersion}}</span>
      </span>
      <mat-icon tooltip="Confused? Click here." class="iconButton"
        (click)="tutorialClicked()">
        help
      </mat-icon>
      <span>
        <mat-icon tooltip="A store that sells special manuals for aspiring immortals." class="iconButton"
          (click)="storeClicked()">
          local_library
        </mat-icon>
        <mat-icon tooltip="Configuration options for purchased items." class="iconButton"
          (click)="storeOptionsClicked()">
          settings
        </mat-icon>
      </span>
      <mat-icon tooltip="Achievements!" class="iconButton"
        (click)="achievementsClicked()">
        military_tech
      </mat-icon>
      <mat-icon tooltip="Impossible Tasks" class="iconButton" *ngIf="impossibleTaskService.impossibleTasksUnlocked"
        (click)="impossibleTasksClicked()">
        priority_high
      </mat-icon>
      <span *ngIf="characterService.characterState.attributes.spirituality.value > 10">
        <mat-icon tooltip="Ascension Store." class="iconButton"
          (click)="ascensionStoreClicked()">
          keyboard_double_arrow_up
        </mat-icon>
      </span>
      <span>
        <a href="" tooltip="Voluntarily end this life, allowing your current attributes to strengthen your aptitudes in the next life." (click)="rebirthClicked($event)">Reincarnate</a>
      </span>
      <mat-icon tooltip="Autosaves fire every couple of minutes, but sometimes an immortal needs to save right now." class="iconButton"
        (click)="saveClicked($event)">
        save
      </mat-icon>
      <span>
        <input type="checkbox" (change)="darkModeToggle()" id="darkMode" [checked]="gameStateService.isDarkMode"/>
        <label for="darkMode">Dark Mode</label>
      </span>
      <mat-icon tooltip="Import or export your save game file. Sometimes immortals need a different browser." class="iconButton"
        (click)="exportClicked()">
        upload
      </mat-icon>
      <a href="" tooltip="Completely restart your journey toward immortality." placement="left" (click)="hardResetClicked($event)">Hard Reset</a>
    </div>
    <div class="bodyContainer">
      <div class="panelContainer">
        <div class="leftPanel">
          <app-time-panel class="timePanel panel"></app-time-panel>
          <app-attributes-panel class="attributesPanel panel"></app-attributes-panel>
          <app-health-panel class="healthPanel panel"></app-health-panel>
        </div>
        <div class="centerPanel">
          <app-activity-panel class="activityPanel panel"></app-activity-panel>
          <app-battle-panel class="battlePanel panel"></app-battle-panel>
        </div>
        <div class="rightPanel">
          <app-equipment-panel class="equipmentPanel panel"></app-equipment-panel>
          <app-home-panel class="homePanel panel"></app-home-panel>
          <app-inventory-panel class="inventoryPanel panel"></app-inventory-panel>
        </div>
      </div>
      <div class="logContainer">
        <app-log-panel class="logPanel panel"></app-log-panel>
      </div>
    </div>
  </div>
</div>
