
<div class="mainContainer">
  <span class="gameTitle">Immortality Idle</span>
  <div class="panelContainer">
    <div class="leftPanel">
      <div class="timePanel">
        <span class="panelHeader">How will you spend your time?</span>
      </div>
      <div class="attributesPanel">
        <span class="panelHeader">Attributes</span>
      </div>
      <div class="healthPanel">
        <span class="panelHeader">Status</span>
      </div>
    </div>
    <div class="centerPanel">
      <div class="activityPanel">
        <span class="panelHeader">Activities</span>
      </div>
    </div>
    <div class="rightPanel">
      <div class="equipmentPanel">
        <span class="panelHeader">Equipment</span>
      </div>
      <div class="homePanel">
        <span class="panelHeader">Home</span>
      </div>
      <div class="logPanel">
        <span class="panelHeader">Log</span>
      </div>
    </div>
  </div>
  <div class="inventoryPanel">
    <span class="panelHeader">Inventory</span>
  </div>
</div>

<!-- Footer -->
<footer>
  This game should be hosted on immortalityidle.github.io. If you see it somewhere else, it's stolen.
</footer>


<router-outlet></router-outlet>
