<div class='darkMode'>
  <span>Schedule Options</span>
  <hr/>
  <div>
    <span>
        <input *ngIf="activityService.autoRestart" type="checkbox" (change)="pauseOnDeath($event)" id="pauseOnDeath"
          [checked]="activityService.pauseOnDeath"/>
        <label *ngIf="activityService.autoRestart" for="pauseOnDeath">Pause on Death</label>
    </span>
  </div>
  <div *ngIf="activityService.autoPauseUnlocked">
    <span>
      <input *ngIf="activityService.autoRestart" type="checkbox" (change)="pauseBeforeDeath($event)" id="pauseBeforeDeath"
        [checked]="activityService.pauseBeforeDeath"/>
      <label *ngIf="activityService.autoRestart" for="pauseBeforeDeath">Pause Before Death - This will pause one day before the end of your expected lifespan.</label>
    </span>
  </div>
  <div class="saveButtonBar">
    <div class="saveButtonGroup">
      <div class="saveButton" matTooltip="Save your current schedule of actviities (Schedule #1)." (click)="activityService.saveActivityLoop()">
        <mat-icon class="iconButton saveIcon" aria-label="Save Schedule 1" aria-hidden="false">
          content_paste
        </mat-icon>
        <div class="saveSlot">1</div>
      </div>
      <div class="saveButton" matTooltip="Save your current schedule of actviities (Schedule #2)." (click)="activityService.saveActivityLoop(2)">
        <mat-icon class="iconButton saveIcon" aria-label="Save Schedule 2" aria-hidden="false">
          content_paste
        </mat-icon>
        <div class="saveSlot">2</div>
      </div>
      <div class="saveButton" matTooltip="Save your current schedule of actviities (Schedule #3)." (click)="activityService.saveActivityLoop(3)">
        <mat-icon class="iconButton saveIcon" aria-label="Save Schedule 3" aria-hidden="false">
          content_paste
        </mat-icon>
        <div class="saveSlot">3</div>
      </div>
    </div>
    <div class="saveButtonGroup">
      <div class="saveButton" matTooltip="Load your saved schedule of actviities (Schedule #1). Note that activities that you cannot do right now will not be loaded."  (click)="activityService.loadActivityLoop()">
        <mat-icon class="iconButton saveIcon" aria-label="Load Schedule 1" aria-hidden="false">
          content_paste_go
        </mat-icon>
        <div class="saveSlot">1</div>
      </div>
      <div class="saveButton" matTooltip="Load your saved schedule of actviities (Schedule #2). Note that activities that you cannot do right now will not be loaded." (click)="activityService.loadActivityLoop(2)">
        <mat-icon class="iconButton saveIcon" aria-label="Load Schedule 2" aria-hidden="false">
          content_paste_go
        </mat-icon>
        <div class="saveSlot">2</div>
      </div>
      <div class="saveButton" matTooltip="Load your saved schedule of actviities (Schedule #3). Note that activities that you cannot do right now will not be loaded." (click)="activityService.loadActivityLoop(3)">
        <mat-icon class="iconButton saveIcon" aria-label="Load Schedule 3" aria-hidden="false">
          content_paste_go
        </mat-icon>
        <div class="saveSlot">3</div>
      </div>
    </div>
    <mat-icon matTooltip="Clear your current schedule."
      class="iconButton saveIcon" aria-label="Clear Schedule" aria-hidden="false" (click)="activityService.activityLoop = []">
      delete_sweep
    </mat-icon>
  </div>  
</div>
