<div class='darkMode'>
  <span>Schedule Options</span>
  <hr/>
  <div>
    <span>
      @if (activityService.autoRestart) {
        <input type="checkbox" (change)="pauseOnDeath($event)" id="pauseOnDeath"
          [checked]="activityService.pauseOnDeath"/>
      }
      @if (activityService.autoRestart) {
        <label for="pauseOnDeath">Pause on Death</label>
      }
    </span>
  </div>
  @if (activityService.autoPauseUnlocked) {
    <div>
      <span>
        <input type="checkbox" (change)="autoPauseThugs($event)"
          id="autoBuyFood"  [checked]="homeService.thugPause">
        <label for="autoBuyFood">Automatically pause if you can't afford your home.</label>
      </span>
    </div>
    <div>
      <span>
        @if (activityService.autoRestart) {
          <input type="checkbox" (change)="pauseBeforeDeath($event)" id="pauseBeforeDeath"
            [checked]="activityService.pauseBeforeDeath"/>
          <label for="pauseBeforeDeath">Pause Before Death - This will pause one day before the end of your expected lifespan.</label>
        }
      </span>
    </div>
  }
  <div>
    <button class="saveButton" tooltip="Save your current schedule of actviities." (click)="saveActivityLoop()">
      Save Schedule
    </button>
    <input min="0" value="{{inputSave}}" type="text" class="inputBox" (change)="inputSaveChange($event)"/>
  </div>
  <div>
    <button class="saveButton" tooltip="Load your saved schedule of actviities." (click)="loadActivityLoop()">
      Load Saved Schedule
    </button>
    <mat-select class="selectSave" [(value)]="selectedLoad">
      @for (entry of activityService.savedActivityLoops; track entry.name){
        <mat-option value="{{entry.name}}">{{entry.name}}</mat-option>
      }
    </mat-select>
  </div>
  <div>
    <button class="saveButton" tooltip="Clear your current schedule of actviities." (click)="activityService.activityLoop = []">
      Clear Schedule
    </button>
  </div>
</div>
