@import (reference) "../../styles.less";

.saveButton {
  height: 30px;
  margin: 4px;
}
 

.selectSave {
  width: 300px;
  color: var(--bodyText);
  border: 1px solid var(--bodyText);
  font-size: small;
  margin: 4px;
}

.smallInputBox {
  width: 100px;
}

:host ::ng-deep .mat-mdc-select-arrow {
  color: var(--bodyText) !important;
}

.optionsRow{
  display: flex;
  flex-direction: row;
  flex-basis: 0;
  border-top: 1px solid var(--panelBorder);
  align-items: center;
}

.grower {
  flex-grow: 1;
  align-content: center;
}

.spacedSpan {
  margin-left: 4px;
  margin-right: 4px;
  align-content: center;
}
