@import (reference) "../../styles.less";

.saveButton {
  height: 30px;
  margin: 4px;
}
 

.selectSave {
  width: 300px;
  color: var(--bodyText);
  border: 1px solid var(--bodyText);
  font-size: small;
  margin: 4px;
}

:host ::ng-deep .mat-mdc-select-arrow {
  color: var(--bodyText) !important;
}