@import (reference) "../../styles.less";

.itemSlot {
  width: 80px;
  height: 32px;
  line-height: 12px;
}


.highlightSlot {
  background-color: var(--itemSlotHighlight);
}

table {
  margin: auto;
}
