.equipmentSlot {
  border: 1px solid black;
  width: 80px;
  height: 32px;
}

.itemSlot {
  width: 30px;
  height: 30px;
  margin: 1px;
  font-size: x-small;
  text-align: center;
  border-spacing: 0px;
  cursor: pointer;
}

.itemSlot > tr {
  line-height: 12px;
}

.highlightSlot {
  background-color: aqua;
}

table {
  margin: auto;
}
