@import (reference) "../../styles.less";

h3 {
  margin-bottom: 0px;
}

progress {
  text-align: center;
  height: fit-content;
  width: 130px;
}

progress:after {
  content: attr(value);
  line-height: 30px;
}

.panelHeader {
  white-space: nowrap;
}

.health > progress {
  accent-color: @healthColor;
}

.status-progress {
  height:30px;
}

mat-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
  margin: 2px;
  vertical-align: middle;
}

.rightAligned {
  float: right;
  margin-right: 6px;
}

.battleOption {
  margin-left:10px;
}

.clashTable {
  border-spacing: 0px;
}

.fixedCell {
  width: 16px;
}

.clashIcon {
  margin-top: 0px;
  margin-bottom: 0px;
}
