<div class="battleContainer">
  <h3>
    @if (battleService.manaShieldUnlocked || battleService.manaAttackUnlocked ||
      battleService.pyroclasmUnlocked || battleService.fireShieldUnlocked) {
      <span>
        <mat-icon  (click)="battleOptions()" matTooltip="Options" class="iconButton" aria-label="Battle Settings" aria-hidden="false">
          settings
        </mat-icon>
      </span>
    }
    <span class="rightAligned" matTooltip="Did you need more trouble in your life? If you don't have a monster to fight, get one. Be careful, they get stronger as they go.">
      <!--
      @if (battleService.godSlayersUnlocked) {
        <input  type="checkbox" (change)="godSlayersEnableChange($event)"
          id="godSlayersEnableCheckbox"  [checked]="battleService.godSlayersEnabled"/>
        <label for="godSlayersEnableCheckbox">Fight the God Slayers</label>
      }
      -->
    </span>
  </h3>
  <div>
    <div class="columnDiv">
      <div class="splitDiv">
        <div class="headerDiv">Your Techniques</div>
        <hr>
        @for (technique of battleService.techniques; track technique.name + technique.ticks) {
          <div>
            {{technique.name}}
            <div class="technique-bar"
                [attr.value]="Math.floor(technique.ticks) | bigNumber"
                [attr.max]="Math.floor(technique.ticksRequired) | bigNumber">
                <span
                  [style.width.%]="100 *
                    Math.floor(technique.ticks) /
                    Math.floor(technique.ticksRequired)">
                </span>
              </div>
          </div>
        }

      </div>
      <div class="splitDiv">
        <div class="headerDiv">Your Enemies</div>
        <hr>
        @if (battleService.currentEnemy?.enemy?.baseName) {
          <div>
            <img class="monsterImage" src="{{imageFile}}" alt="A Monster!" width="80" height="100"/>
          </div>
        }
        @for (enemyStack of battleService.enemies; track enemyStack.enemy.name + enemyStack.quantity) {
          <div>
              @if (battleService.currentEnemy !== enemyStack) {
                <button (click)="battleService.fight(enemyStack)">Fight</button>
              }
              @else {
                <span>Fighting </span>
              }
            <span class="enemyName">{{enemyStack.enemy.name | titlecase}} {{(enemyStack.quantity > 1) ? "(x" + enemyStack.quantity +")" : ""}}</span>
          </div>
          <div class="health">
            <div class="progress-bar"
              [attr.value]="Math.floor(enemyStack.enemy.health) | bigNumber"
              [attr.max]="Math.floor(enemyStack.enemy.maxHealth) | bigNumber">
              <span
                [style.width.%]="100 *
                  Math.floor(enemyStack.enemy.health) /
                  Math.floor(enemyStack.enemy.maxHealth)">
              </span>
            </div>
          </div>
          <div>
            <span matTooltip="Accuracy"><mat-icon>manage_accounts</mat-icon>{{enemyStack.enemy.accuracy | percent}}</span>
            <span matTooltip="Attack Power"><mat-icon>flare</mat-icon>{{enemyStack.enemy.attack | bigNumber}}</span>
            <span matTooltip="Defense"><mat-icon>shield</mat-icon>{{enemyStack.enemy.defense | bigNumber}}</span>
          </div>
        }

      

      </div>
    </div>
  </div>
</div>