<h3>
  <mat-icon
    matTooltip="Monsters come out at night. You'll need to be strong enough to fight them off if you want to become an immortal."
    >fort</mat-icon
  >
  Battles
  <span
    *ngIf="
      battleService.manaShieldUnlocked ||
      battleService.manaAttackUnlocked ||
      battleService.pyroclasmUnlocked ||
      battleService.fireShieldUnlocked
    ">
    <mat-icon
      (click)="battleOptions()"
      matTooltip="Options"
      class="iconButton"
      aria-label="Battle Settings"
      aria-hidden="false">
      settings
    </mat-icon>
  </span>
  <span
    class="rightAligned"
    matTooltip="Did you need more trouble in your life? If you don't have a monster to fight, get one. Be careful, they get stronger as they go.">
    <button *ngIf="!battleService.autoTroubleUnlocked" (click)="battleService.trouble()">Look for Trouble</button>
    <input
      *ngIf="battleService.autoTroubleUnlocked"
      type="checkbox"
      (change)="autoTroubleChange($event)"
      id="autoTroubleCheckbox"
      [checked]="battleService.autoTroubleEnabled" />
    <label *ngIf="battleService.autoTroubleUnlocked" for="autoTroubleCheckbox">Look for Trouble</label>
  </span>
</h3>
<div class="battleContainer">
  <table class="clashTable" *ngIf="battleService.enemies.length > 0">
    <tr>
      <td class="fixedCell"><mat-icon class="clashIcon"></mat-icon></td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 4 || battleService.tickCounter === 5"
          >arrow_forward</mat-icon
        >
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 3 || battleService.tickCounter === 6"
          >arrow_forward</mat-icon
        >
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 2 || battleService.tickCounter === 7"
          >arrow_forward</mat-icon
        >
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 1 || battleService.tickCounter === 8"
          >arrow_forward</mat-icon
        >
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 0 || battleService.tickCounter === 9"
          >arrow_forward</mat-icon
        >
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 10">crisis_alert</mat-icon>
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 0 || battleService.tickCounter === 9"
          >arrow_backward</mat-icon
        >
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 1 || battleService.tickCounter === 8"
          >arrow_backward</mat-icon
        >
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 2 || battleService.tickCounter === 7"
          >arrow_backward</mat-icon
        >
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 3 || battleService.tickCounter === 6"
          >arrow_backward</mat-icon
        >
      </td>
      <td class="fixedCell">
        <mat-icon class="clashIcon" *ngIf="battleService.tickCounter === 4 || battleService.tickCounter === 5"
          >arrow_backward</mat-icon
        >
      </td>
    </tr>
  </table>
  <table>
    <ng-container *ngFor="let enemyStack of battleService.enemies">
      <tr>
        <td>
          <button *ngIf="battleService.currentEnemy !== enemyStack" (click)="battleService.fight(enemyStack)">
            Fight
          </button>
          <span *ngIf="battleService.currentEnemy === enemyStack">Fighting</span>
        </td>
        <td class="enemyName">
          {{ enemyStack.enemy.name | titlecase }} {{ enemyStack.quantity > 1 ? '(' + enemyStack.quantity + ')' : '' }}
        </td>
        <td class="health">
          <div
            class="progress-bar"
            [attr.value]="Math.floor(enemyStack.enemy.health) | bigNumber"
            [attr.max]="Math.floor(enemyStack.enemy.maxHealth) | bigNumber">
            <span
              [style.width.%]="(100 * Math.floor(enemyStack.enemy.health)) / Math.floor(enemyStack.enemy.maxHealth)">
            </span>
          </div>
        </td>
        <td matTooltip="Accuracy"><mat-icon>manage_accounts</mat-icon>{{ enemyStack.enemy.accuracy | percent }}</td>
        <td matTooltip="Attack Power"><mat-icon>flare</mat-icon>{{ enemyStack.enemy.attack | bigNumber }}</td>
        <td matTooltip="Defense"><mat-icon>shield</mat-icon>{{ enemyStack.enemy.defense | bigNumber }}</td>
      </tr>
    </ng-container>
  </table>
</div>
