<div cdkDragHandle [ngClass]="{'draggableCursor': !gameStateService.lockPanels}" class="panelHeader">
    <mat-icon>
      radio_button_checked
    </mat-icon>
    Portals
    <mat-icon class="panelHelp" matTooltip="Take a portal to a different plane of existence.">
      help
    </mat-icon>
  
  </div>
  <h3 class="portalsHeader">
  </h3>
  <div class="portalsContainer">
    <div class="overflow">
      <div class="activityGrid">
          <ng-container *ngFor="let activity of activityService.activities; let indexOfelement=index;">
            <div class="activitySlot" [ngClass]="{'lockedActivity': !activity.unlocked}" 
              *ngIf="activity.portal && (activity.discovered || activity.unlocked)"[tabindex]="0"
              (click)="doActivity(activity)" >
                <div class="activityLabel" matTooltip="Take this portal" >
                  <span>{{activity.name[activity.level]}}</span>
                </div>
                <div class="activityButtons">
                  <span class='floatRight'>
                    <mat-icon class="iconButton" (click)="showActivity($event, activity)"
                      matTooltip="What is this activity? Click to learn all about it!"
                      aria-label="Help" aria-hidden="false">
                      help
                    </mat-icon>
                  </span>
                </div>
              </div>
          </ng-container>
      </div>
    </div>
  
  </div>
  <div class="panelResizeHandle"></div>