<div class="darkMode">
  <h3>Manage Followers</h3>
  <hr />
    <span>You are supporting {{followerService.followers.length}} followers and can support up to {{followerService.followerCap}} total followers.</span>
    <span tooltip="Set a number to change all of the class limits to."><br>Change all Class limits to: &nbsp;<input value="0" type="number" class="inputBox" (change)="changeAllChanged($event)">&nbsp;<button (click)="changeAllClicked()">Change All</button></span>
  <hr />
  <div class="scrollingDiv">
    <table>
      <tr  *ngFor="let job of followerService.jobs | keyvalue">
        <td>{{job.key | titlecase}}</td>
        <td>{{job.value.description}}</td>
        <td tooltip="This value will only apply to new followers who seek to join you. You'll have to dismiss current followers yourself.">Keep up to <input value="{{followerService.maxFollowerByType[job.key] === undefined ? 1000 : followerService.maxFollowerByType[job.key]}}" type="number" class="inputBox" (change)="keepValueChanged($event, job.key)"/></td>
      </tr>
    </table>
</div>
