<div class="wrapper" [ngClass]="{'darkMode': gameStateService.isDarkMode}">
    <div class="mainContainer">
    <div class="top-line">
      <span class="gameTitle">
        Immortality Idle 2
        <span class="versionNumber" (click)="commonButtonsService.changelogClicked()">{{gameStateService.isExperimental ? "Experimental" : "v" + applicationVersion}}</span>
      </span>
      <span>
        <mat-icon tooltip="Confused?<br>Click here for a tutorial." class="iconButton" (click)="commonButtonsService.tutorialClicked()" aria-label="Tutorial" aria-hidden="false">
          help
        </mat-icon>
        <mat-icon tooltip="Statistics!" class="iconButton" (click)="commonButtonsService.statisticsClicked()">
          format_list_numbered_rtl
        </mat-icon>
        <mat-icon tooltip="Regular People Shop<br>A store that sells regular stuff for regular mortals.<br>You are destined for immortality, but you might want some stuff from here anyway." class="iconButton" aria-label="Store" aria-hidden="false"
          (click)="commonButtonsService.storeClicked()">
          store
        </mat-icon>
        <mat-icon tooltip="Manuals Shop<br>A store that sells special manuals for aspiring immortals." class="iconButton" aria-label="Manual Store" aria-hidden="false"
          [ngClass]="{highlighted: storeService.isManualAvailable()}"
          (click)="commonButtonsService.manualStoreClicked()">
          local_library
        </mat-icon>
        <mat-icon tooltip="Game Options" class="iconButton" aria-label="Options" aria-hidden="false"
          (click)="commonButtonsService.optionsClicked()">
          settings
        </mat-icon>
        <mat-icon tooltip="Achievements!" class="iconButton" aria-label="Achievements" aria-hidden="false"
          (click)="commonButtonsService.achievementsClicked()">
          military_tech
        </mat-icon>
        @if (characterService.ascensionUnlocked) {
          <mat-icon tooltip="Ascension Techniques." class="iconButton" aria-label="Ascension" aria-hidden="false"
            (click)="commonButtonsService.ascensionStoreClicked()">
            keyboard_double_arrow_up
          </mat-icon>
        }
        @if (achievementService.memoriesUnlocked()) {
          <mat-icon tooltip="Review Your Memories" class="iconButton" aria-label="Memories" aria-hidden="false"
            (click)="achievementService.reviewMemories()">
            psychology
          </mat-icon>
        }
        <mat-icon tooltip="Save<br>The game autosaves every few minutes, but click here if you want to manually save the game right now." class="iconButton" aria-label="Save" aria-hidden="false"
          (click)="commonButtonsService.saveClicked()">
          save
        </mat-icon>
        <mat-icon tooltip="Who made this awesome free game?" class="iconButton" aria-label="Save" aria-hidden="false"
          (click)="commonButtonsService.creditsClicked()">
          contact_page
        </mat-icon>
      </span>
      <span class="topText">
        <a href="https://discord.gg/Na7Qmwy3XK" target="_blank" rel="noopener noreferrer" tooltip="Have questions?<br>Try the Immortality Idle Discord.">Discord</a>
      </span>
      @if (characterService.immortal() && !hellService.inHell() && !hellService.hellUnlocked() && !characterService.god()) {
        <span class="topText">
          <button (click)="gameStateService.joinTheGodsClick()">Join the Gods</button>
        </span>
      }

      @if (mainLoopService.playMusic){
        <span class="musicSpan">
          <mat-icon>
            music_note
          </mat-icon>
          <mat-icon tooltip="Previous Track" class="iconButton" aria-label="Previous Track" aria-hidden="false"
            (click)="mainLoopService.previousTrack()">
            skip_previous
          </mat-icon>
          {{mainLoopService.nowPlaying}}
          <mat-icon tooltip="Next Track" class="iconButton" aria-label="Next Track" aria-hidden="false"
            (click)="mainLoopService.nextTrack()">
            skip_next
          </mat-icon>
          <mat-icon tooltip="Turn Music Off" class="iconButton" aria-label="Turn Music Off" aria-hidden="false"
            (click)="mainLoopService.playMusic = false; mainLoopService.playAudio();">
            close
          </mat-icon>

        </span>
      }
      

      <span class="floatRight">
        <input type="checkbox" id="lockPanels" (change)="lockPanelsToggle()" [checked]="gameStateService.lockPanels"/>
        <label for="lockPanels">Lock panels in place</label>
      </span>
      @if(!gameStateService.allPanelsUsed){
        <span class="floatRight">
          <button (click)="gameStateService.addLayoutPanel()"
            [ngClass]="{highlighted: gameStateService.newPanelAvailable()}"
          >Add New Panel</button>
        </span>
      }
    </div>
    <div class="grid-container">
      <ktd-grid cols="100"
          rowHeight="10"
          [compactType]="compactType"
          [gap]="gridGap"
          compactOnPropsChange="true"
          preventCollision="false"
          [layout]="gameStateService.layout() ?? []"
          [scrollableParent]="document"
          (layoutUpdated)="onLayoutUpdated($event)">
          @for (panelLayout of gameStateService.layout() ?? []; track panelLayout.id){
            <ktd-grid-item [draggable]="!gameStateService.lockPanels" [resizable]="!gameStateService.lockPanels" dragStartThreshold="0" [id]="getPanel(panelLayout).id">
              <div class="panel">
                <div ktdGridDragHandle [ngClass]="{'grabCursor': !gameStateService.lockPanels}" class="panelHeader">
                  <mat-icon>
                    {{getPanel(panelLayout).icon}}
                  </mat-icon>
                  <span>{{getPanel(panelLayout).name}}</span>
                  <span class="floatRight">
                    <mat-icon [tooltip]="getPanel(panelLayout).panelHelp">
                      help
                    </mat-icon>
                    @if(!gameStateService.allPanelsUsed){
                      <mat-icon class="iconButton" (click)="previousPanelClick($index)">
                        arrow_back
                      </mat-icon>
                      <mat-icon class="iconButton" (click)="nextPanelClick($index)">
                        arrow_forward
                      </mat-icon>
                    }
                    <mat-icon class="iconButton" (click)="closePanelClick($index)">
                      close
                    </mat-icon>
                  </span>
                  </div>
                <div class="grid-item-content">
                  @if (panelLayout.id === 'timePanel'){
                    <app-time-panel class="panelComponent"></app-time-panel>
                  } @else if (panelLayout.id === 'schedulePanel'){
                    <app-schedule-panel class="panelComponent"></app-schedule-panel>
                  } @else if (panelLayout.id === 'attributesPanel'){
                    <app-attributes-panel class="panelComponent"></app-attributes-panel>
                  } @else if (panelLayout.id === 'healthPanel'){
                    <app-health-panel class="panelComponent"></app-health-panel>
                  } @else if (panelLayout.id === 'activityPanel'){
                    <app-activity-panel class="panelComponent" ></app-activity-panel>
                  } @else if (panelLayout.id === 'battlePanel'){
                    <app-battle-panel class="panelComponent" ></app-battle-panel>
                  } @else if (panelLayout.id === 'equipmentPanel'){
                    <app-equipment-panel class="panelComponent" ></app-equipment-panel>
                  } @else if (panelLayout.id === 'homePanel'){
                    <app-home-panel class="panelComponent" ></app-home-panel>
                  } @else if (panelLayout.id === 'inventoryPanel'){
                    <app-inventory-panel class="panelComponent" ></app-inventory-panel>
                  } @else if (panelLayout.id === 'logPanel'){
                    <app-log-panel class="panelComponent" ></app-log-panel>
                  } @else if (panelLayout.id === 'portalPanel'){
                    <app-portal-panel class="panelComponent" ></app-portal-panel>
                  } @else if (panelLayout.id === 'followersPanel'){
                    <app-followers-panel class="panelComponent"></app-followers-panel>
                  } @else if (panelLayout.id === 'petsPanel'){
                    <app-pets-panel class="panelComponent" ></app-pets-panel>
                  } @else if (panelLayout.id === 'farmPanel'){
                    <app-farm-panel class="panelComponent" ></app-farm-panel>
                  } @else if (panelLayout.id === 'locationPanel'){
                    <app-location-panel class="panelComponent" ></app-location-panel>
                  } @else if (panelLayout.id === 'impossibleTasksPanel'){
                    <app-impossible-task-panel class="panelComponent" ></app-impossible-task-panel>
                  } @else if (panelLayout.id === 'techniquePanel'){
                    <app-technique-panel class="panelComponent" ></app-technique-panel>
                  } @else if (panelLayout.id === 'craftingPanel'){
                    <app-crafting-panel class="panelComponent" ></app-crafting-panel>
                  } @else if (panelLayout.id === 'hellStatusPanel'){
                    <app-hell-status-panel class="panelComponent" ></app-hell-status-panel>
                  } @else if (panelLayout.id === 'contemplationPanel'){
                    <app-contemplation-panel class="panelComponent" ></app-contemplation-panel>
                  }
                </div>
              </div>
            </ktd-grid-item>
          }
        </ktd-grid>
    </div>
  </div>
</div>