<div>
  @if (followerService.hqUnlocked){
    <span class="headerLine">
      {{followerService.sectName}}
    </span>
  }
  <span [ngClass]="followerService.followersMaxed">
    &nbsp;({{followerService.followers.length}} / {{followerService.followerCap}} Followers)
  </span>
  @if (followerService.autoDismissUnlocked) {
    <mat-icon class="iconButton optionsIcon" (click)="followerOptionsClicked()" aria-label="Manage Followers" aria-hidden="false"
      tooltip="Manage your followers">
      settings
    </mat-icon>
  }
  @if (followerService.hqUnlocked){
    <mat-icon class="iconButton optionsIcon" (click)="followerService.renameSect()" aria-label="Rename your Sect" aria-hidden="false"
      tooltip="Rename your Sect">
      change_circle
    </mat-icon>
  }
</div>
@if (followerService.hqUnlocked){
  <div>
    <span class="headerLine" [tooltip]="followerService.hqs[followerService.hq].description">
      Headquarters: {{followerService.hqs[followerService.hq].name}}
    </span>
    @if (followerService.hqs[followerService.hq].upgradeMoneyCost !== 0) {
      <mat-icon class="iconButton optionsIcon" (click)="followerService.upgradeHQ()" aria-label="Upgrade Headquarters" aria-hidden="false"
        [tooltip]="followerService.hqs[followerService.hq].upgradeTooltip">
        keyboard_double_arrow_up
      </mat-icon>
    }
    @if (followerService.hq !== 0) {
      <mat-icon class="iconButton optionsIcon" (click)="followerService.downgradeHQ()" aria-label="Downgrade Headquarters" aria-hidden="false"
        tooltip="Downgrade Headquarters">
        keyboard_double_arrow_down
      </mat-icon>
    }
  </div>
}
<div>
  <hr>
</div>
<div class="followersContainer">
  <div class="followerPanel">
      <div class="followerLine">
        <span class="followerCell">Name</span>
        <span class="followerCell">Job</span>
        <span class="followerCell">Level</span>
        <span class="followerCell">Exp</span>
        <span class="followerCell">Age</span>
      </div>
    @for (follower of followerService.followers; track follower) {
      <div class="followerLine" tooltip="{{follower.name}} is a level {{follower.power}} {{follower.job | titlecase}}.<br>{{followerService.jobs[follower.job].description}}<br>
        {{follower.name}} has followed you for {{follower.age / 365 | bigNumber}} years and will serve for another {{(follower.lifespan - follower.age) / 365 | bigNumber}} more years.<br>Daily cost: {{follower.cost | bigNumber}}">
        <span class="followerName followerCell">
          {{follower.name | titlecase}}
        </span>
        <span class="followerCell" >
          {{follower.job | camelToTitle}}
        </span>
        <span class="followerCell" >
          {{follower.power}}
        </span>
        <span class="followerCell" >
          {{follower.experience || 0}} / {{follower.power * 1000}}
        </span>
        <span class="followerCell" >
          {{(follower.age / 365) + 18 | bigNumber}} / {{(follower.lifespan / 365) + 18 | bigNumber}}
        </span>
        <mat-icon class="smallerIcon"
          aria-label="Dismiss Follower" aria-hidden="false"
          (click)="dismissFollower($event, follower)"
                [tooltip]="followerService.autoDismissUnlocked ? 'Dismiss this follower.<br>
                Shift-click to automatically dismiss everyone of this job type.<br>
                Ctrl-click to set the current number as the limit without dismissing.':
                'Dismiss this follower.'">
          cancel
        </mat-icon>
      </div>
    }
  </div>
</div>
<br>