<div class="healthContainer" (click)="isCollapsed = !isCollapsed">
    <div class="upper-row">
        @if (!isCollapsed) {
            <div class="yin-yang-container">
                <app-yin-yang class="yin-yang-dimensions"/>
                <div class="yin-yang-overlay yin-yang-dimensions"></div>
            </div>
        }
        <div class="statusRow top">
            <div class="flexColumn">
                @let ageBreakpoint = 10_000 * 365;
                @if (!isCollapsed) {
                    <div class="statusCell age">
                        <mat-icon tooltip="{{characterService.lifespanTooltip()}}">timer</mat-icon>
                        <div>
                            @if(characterService.displayAge() < ageBreakpoint) {
                                <span>Age {{Math.floor(characterService.displayAge() / 365) }}</span>
                            } @else {
                                <span>Age {{characterService.displayAge() / 365 | bigNumber }}</span>
                            }
                            @if (characterService.displayAge() < ageBreakpoint) {
                                <span>.{{characterService.displayAge() % 365 | number: '1.0-0'}}</span>
                            }
                            <span> years old.</span>
                        </div>
                    </div>
                    <div class="statusCell">
                        @if (characterService.immortal()) {
                            <div>You expect to live forever.</div>
                        }
                        @else {
                            <div>You expect to live {{characterService.displayLifespan() / 365 | bigNumber}} years.</div>
                        }
                    </div>
                } @else {
                    <span>
                        @if(characterService.displayAge() < ageBreakpoint) {
                            {{Math.floor(characterService.displayAge() / 365)}}
                            /
                            @if (characterService.immortal()) {
                                Forever
                            } @else {
                                {{characterService.displayLifespan() / 365 | bigNumber}}
                            }
                        } @else {
                            {{characterService.displayAge() / 365 | bigNumber }}
                            /
                            @if (characterService.immortal()) {
                                Forever
                            } @else {
                                {{characterService.displayLifespan() / 365 | bigNumber}}
                            }
                        }
                    </span>
                }
            </div>
            <div class="flexColumn">
                @if (!isCollapsed) {
                    <div class="label">Wealth</div>
                }
                <div class="moneyContainer">
                    <div class="moneyColumn">
                        <div>
                            @for (update of this.healthService.moneyUpdates; track update) {
                                <span class="popupText" [ngClass]="{'popupTextColor' : update > 0, 'popupTextNegativeColor' : update < 0}"
                                    [@popupText]=update (@popupText.done)="animationDoneEvent()">
                                    @if (update > 0) {
                                        <span>+</span>
                                    }
                                    {{update | bigNumber}}
                                </span>
                            }
                            <span>{{characterService.displayMoney() | bigNumber}} Taels</span>
                        </div>
                        @if (characterService.hellMoney > 0) {
                            <div tooltip="Money accepted as legal tender in hell." class="moneyColumn">
                                {{characterService.hellMoney | bigNumber}} Hell Money
                            </div>
                        }
                        @if (homeService.land > 0) {
                            <span>{{homeService.land | bigNumber}} Empty {{homeService.land === 1 ? "Plot" : "Plots"}} of Land</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="statusRow progress-bars-row">
        <div class="status-column">
            <div class="statusCell barCell health" tooltip="{{characterService.status.health.description}}">
                @if (!isCollapsed) {
                    <div class="label">Health</div>
                }
                <div class="progress-bar" [ngClass]="healthService.flashHealth ? 'flash' : ''"
                    [attr.value]="Math.floor(characterService.immortal() && characterService.status.health.displayValue() < 0 ? 0 : characterService.status.health.displayValue()) | bigNumber"
                    [attr.max]="Math.floor(characterService.status.health.displayMax()) | bigNumber">
                    <span [style.width.%]="100 *
                        Math.floor(characterService.immortal() && characterService.status.health.displayValue() < 0 ? 0 : characterService.status.health.displayValue()) /
                        Math.floor(characterService.status.health.displayMax())">
                    </span>
                </div>
            </div>
            <div class="statusCell barCell stamina" tooltip="{{characterService.status.stamina.description}}">
                @if (!isCollapsed) {
                    <div class="label">Stamina</div>
                }
                <div class="progress-bar" [ngClass]="healthService.flashStamina ? 'flash' : ''"
                    [attr.value]="Math.floor(characterService.immortal() && characterService.status.stamina.displayValue() < 0 ? 0 : characterService.status.stamina.displayValue()) | bigNumber"
                    [attr.max]="Math.floor(characterService.status.stamina.displayMax()) | bigNumber">
                    <span [style.width.%]="100 *
                        Math.floor(characterService.immortal() && characterService.status.stamina.displayValue() < 0 ? 0 : characterService.status.stamina.displayValue()) /
                        Math.floor(characterService.status.stamina.displayMax())">
                    </span>
                </div>
            </div>
        </div>

        <div class="status-column">
            <div class="statusCell barCell nutrition" tooltip="{{characterService.status.nutrition.description}}">
                @if (!isCollapsed) {
                    <div class="label">Nutrition</div>
                }
                <div class="progress-bar" [ngClass]="healthService.flashNutrition ? 'flash' : ''"
                    [attr.value]="Math.floor(characterService.status.nutrition.displayValue()) | bigNumber"
                    [attr.max]="Math.floor(characterService.status.nutrition.displayMax()) | bigNumber">
                    <span
                        [style.width.%]="100 *
                        Math.floor(characterService.status.nutrition.displayValue()) /
                        Math.floor(characterService.status.nutrition.displayMax())">
                    </span>
                </div>
            </div>
            <div class="statusCell barCell qi" tooltip="{{characterService.status.qi.description}}">
                @if (!isCollapsed) {
                    <div class="label">Qi</div>
                }
                <div class="progress-bar" [ngClass]="healthService.flashNutrition ? 'flash' : ''"
                    [attr.value]="Math.floor(characterService.status.qi.displayValue()) | bigNumber"
                    [attr.max]="Math.floor(characterService.status.qi.displayMax()) | bigNumber">
                    <span
                    [style.width.%]="100 *
                        Math.floor(characterService.status.qi.displayValue()) /
                        Math.floor(characterService.status.qi.displayMax())">
                    </span>
                </div>
            </div>
        </div>
    </div>
  </div>
  