.progress-bar {
  vertical-align: -0.4em;
  margin-left: 4px;
  margin-right: 4px;
  flex-grow: 1;
  width: unset;
}

.health > .progress-bar > span {
  background-color: var(--healthColor);
}

.stamina > .progress-bar > span {
  background-color: var(--staminaColor);
}

.nutrition > .progress-bar > span {
  background-color: var(--nutritionColor);
}

.qi > .progress-bar > span {
  background-color: var(--qiColor);
}

.statusRow {
  display: flex;
  flex-direction: row;
  margin: 2px;

  &.top {
    justify-content: space-between;
  }
}

.status-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.statusCell{
  flex-grow: 1;
  flex-basis: 0;
}

.barCell {
    display: flex;
    flex-direction: column;
}

td {
  font-size:12px;
}

.yinYang {
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  overflow: hidden;
}

.flash {
  box-shadow: 0 0 5px 5px #48abe0;
  transition: box-shadow ease-out 0.5s;
 }

.healthContainer {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.popupTextColor {
  color: var(--popupTextColor);
}

.popupTextNegativeColor {
  color: red;
}

.popupText {
  position: absolute;
  transform: translateZ(0);
  z-index: 10000;
  font-size: x-small;
}
