<div class="activitiesContainer">
  <div class="overflow">
    <div class="activityGrid" cdkDropList cdkDropListSortingDisabled>
      @for (displayActivity of activityService.displayActivities; track displayActivity.trackField(); let indexOfelement = $index) {
        @if (displayActivity.displayed()) {
          <div class="activitySlot" [ngClass]="{'projectionOnly': displayActivity.projectionOnly(), 'lockedActivity': displayActivity.locked()}"
            [tabindex]="0"
            cdkDrag [cdkDragDisabled]="displayActivity.locked()" [cdkDragData]="displayActivity.activityType()"
            (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
            (click)="activityPanelService.doActivity(displayActivity.activity)" >
            <div class="activityLabel" tooltip="{{displayActivity.tooltip()}}" >
              <span>{{displayActivity.name()}}</span>
            </div>
            <div class="activityButtons">
              <span>
                @if (mainLoopService.timeUnlocked) {
                  <mat-icon class="iconButton" (click)="scheduleActivity(displayActivity.activity, $event)"
                    (contextmenu)="rightClick(displayActivity.activity, $event)" tooltip="{{displayActivity.scheduleTooltip()}}"
                    aria-label="Schedule this activity" aria-hidden="false">
                    event
                  </mat-icon>
                }
              </span>
              <span class='floatRight'>
                @if (displayActivity.apprenticeshipRequired()) {
                  <mat-icon
                    tooltip="This activity requires that you go through an apprenticeship.<br>You can only do one apprenticeship in each lifetime, so choose carefully what trade you want to learn.<br>Once you've started, other trades may be closed off until your next life."
                    aria-label="Requires an apprenticeship" aria-hidden="false">
                    model_training
                  </mat-icon>
                }
                @if (displayActivity.familySpecialty()) {
                  <mat-icon
                    tooltip="This activity is a family specialty, and you will do it better than you could if your ancestors hadn't practiced this so much."
                    aria-label="Family Specialty" aria-hidden="false">
                    supervisor_account
                  </mat-icon>
                }
                @if (displayActivity.displayLastIncome()) {
                  <mat-icon tooltip="{{displayActivity.lastIncomeString()}}"
                    aria-label="Earns money" aria-hidden="false">
                    attach_money
                  </mat-icon>
                }
                <mat-icon class="iconButton" (click)="activityPanelService.showActivity($event, displayActivity.activity)"
                  tooltip="What is this activity?<br>Click to learn all about it!"
                  aria-label="Help" aria-hidden="false">
                  help
                </mat-icon>
              </span>
            </div>
          </div>
        }
      }
    </div>
  </div>

</div>
<br>