<h3 class="panelHeader">
  <div class="standardHeader">
    <mat-icon tooltip="Choose activities to add to your schedule. At first you'll only know how to do a few things, but as you develop your attributes more options will become available. Click the button or drag and drop the activity you want to put on your schedule.">
      help
    </mat-icon>
    Activities
  </div>
  <div class="customHeader">
    <span *ngIf="characterService.characterState.immortal && !hellService.inHell && activityService.hellEnabled">
      <button (click)="JoinTheGodsClick()">Join the Gods</button>
    </span>
    <span tooltip="{{activityService.activityHeaderDescription}}">{{activityService.activityHeader}} </span>
    <span *ngIf="hellService.inHell && activityService.hellEnabled && hellService.completedHellTasks.includes(hellService.currentHell)">
      <button (click)="hellBoss()">{{hellService.completedHellBosses.includes(hellService.currentHell) ? "Beat On The Hell Lord Some More" : "Challenge the Hell Lord"}}</button>
    </span>
  </div>
</h3>
<div class="activitiesContainer">
  <table>
    <ng-container *ngFor="let activity of activityService.activities">
      <tr [ngClass]="{'projectionOnly': activity.projectionOnly}" *ngIf="(activity.unlocked)" draggable="true" (dragstart)="drag(activity, $event)">
        <td>
          <span class="noWrap">
            <button class="activityButton" (click)="onClick(activity, $event)"
                    tooltip="Add this to your schedule

                    Shift- or Ctrl-click to repeat it 10x
                    Shift-Ctrl-click to repeat it 100x
                    Alt-click to add it to the top"
                    tooltipClass="tooltip-break">
              {{activity.name[activity.level]}}
            </button>
            <mat-icon *ngIf="activity.skipApprenticeshipLevel > 0"
              tooltip="This activity requires that you go through an apprenticeship. You can only do one apprenticeship in each lifetime, so choose carefully what trade you want to learn. Once you've started, other trades may be closed off until your next life.">
              model_training
            </mat-icon>
          </span>
        </td>
        <td>
          {{activity.description[activity.level]}}
          <br/>
          {{activity.consequenceDescription[activity.level]}}
          {{activity.projectionOnly ? "This activity can only be performed by a spiritual projection of yourself back in the mortal realm." : ""}}
          <span *ngIf="activity.lastIncome && activity.lastIncome > 0">
            <mat-icon tooltip="Exactly how much will you make doing this job? It can depend on your attributes, but the last time you did this job you made {{activity.lastIncome | bigNumber}} taels.">
              attach_money
            </mat-icon>
          </span>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
