<div class="activitiesContainer">
  <!-- draggable="true" (dragstart)="drag(activity, $event)" -->
  <div class="overflow">
    <div class="activityGrid" cdkDropList cdkDropListSortingDisabled>
      @for (activity of activityService.activities; track activity; let indexOfelement = $index) {
        @if (activity.discovered || activity.unlocked) {
          <div class="activitySlot" [ngClass]="{'projectionOnly': activity.projectionOnly, 'lockedActivity': (!activity.unlocked || battleService.enemies.length > 0)}"
            [tabindex]="0"
            cdkDrag [cdkDragDisabled]="!activity.unlocked" [cdkDragData]="activity.activityType"
            (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
            (click)="activityPanelService.doActivity(activity)" >
            <div class="activityLabel" tooltip="{{activityPanelService.getActivityTooltip(activity, true)}}" >
              <span>{{activity.name[activity.level]}}</span>
            </div>
            <div class="activityButtons">
              <span>
                @if (mainLoopService.timeUnlocked) {
                  <mat-icon class="iconButton" (click)="scheduleActivity(activity, $event)"
                    (contextmenu)="rightClick(activity, $event)" tooltip="{{activityPanelService.getActivityTooltip(activity)}}"
                    aria-label="Schedule this activity" aria-hidden="false">
                    event
                  </mat-icon>
                }
              </span>
              <span class='floatRight'>
                @if (activity.skipApprenticeshipLevel > 0 && !activityService.completedApprenticeships.includes(activity.activityType)) {
                  <mat-icon
                    tooltip="This activity requires that you go through an apprenticeship.<br>You can only do one apprenticeship in each lifetime, so choose carefully what trade you want to learn.<br>Once you've started, other trades may be closed off until your next life."
                    aria-label="Requires an apprenticeship" aria-hidden="false">
                    model_training
                  </mat-icon>
                }
                @if (activityService.familySpecialty === activity.activityType) {
                  <mat-icon
                    tooltip="This activity is a family specialty, and you will do it better than you could if your ancestors hadn't practiced this so much."
                    aria-label="Family Specialty" aria-hidden="false">
                    supervisor_account
                  </mat-icon>
                }
                @if (activity.lastIncome && activity.lastIncome > 0) {
                  <mat-icon tooltip="Exactly how much will you make doing this job?<br>It can depend on your attributes, but the last time you did this job you made<br>{{activity.lastIncome | bigNumber}} taels."
                    aria-label="Earns money" aria-hidden="false">
                    attach_money
                  </mat-icon>
                }
                <mat-icon class="iconButton" (click)="activityPanelService.showActivity($event, activity)"
                  tooltip="What is this activity?<br>Click to learn all about it!"
                  aria-label="Help" aria-hidden="false">
                  help
                </mat-icon>
              </span>
            </div>
          </div>
        }
      }
    </div>
  </div>

</div>
<br>