:root {
  color-scheme: light;
  --bodyText: light-dark(black, #cacaca);
  --bodyBackground: light-dark(#C4E9CC, #000000); //#efefef;
  --panelHeader: light-dark(#a4c9fC, #444444);
  --panelBackground: light-dark(#e9f7ec, #222222); //#fcfcfc;
  --panelBorder: light-dark(#a4c9aC, #5a5a5a); //#121212;
  --tableDividerColor: light-dark(#a4c9aC, #aaaaaa);
  --itemSlotColor: light-dark(#fcfcef, #373737);
  --itemSlotHighlight: light-dark(#d8deff, #004444);
  --storeButtonColor: light-dark(#fdfffc, #040404);
  --storeButtonDisabledColor: light-dark(#555555, #3b3b3b);
  --progressBackgroundColor: light-dark(#efefef, #3b3b3b);
  --healthColor: light-dark(red, red);
  --staminaColor: light-dark(lightgreen, lightgreen);
  --nutritionColor: light-dark(yellow, yellow);
  --qiColor: light-dark(lightblue, #195061);
  --buttonColor: light-dark(#fdfffc, #373737);
  --buttonBorder: light-dark(#a4c9aC, #999999);
  --dialogBackground: light-dark(#333333, #333333);
  --disabledText: light-dark(#555555, #999999);
  --textHighlight: light-dark(green, green);
  --buttonHighlightBg: light-dark(gold, blue);
  --disabledActivity: light-dark(white, #5a5a5a);
  --lifeEffectColor: light-dark(#00aa08, #00aa08);
  --corruptionEffectColor: light-dark(#aa0008, #ff2228);
  --popupTextColor: light-dark(darkgreen, #AAFFFF); 
  
  --yin-yang-size: 40px;

  .darkMode {
    color-scheme: dark;
  }
}


html { 
  height: 100dvh;
  width: 100dvw;
  overscroll-behavior: none;
  display: flex;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overscroll-behavior: none;
  height: 100%;
  display: flex;
  flex-grow: 1;
}

span {
  color: var(--bodyText);
}

td {
  color: var(--bodyText);
}

a {
  color: var(--bodyText);
}

h3 {
  color: var(--bodyText);
}

.iconButton {
  border: 1px var(--bodyText) solid;
  border-radius: 3px;
  cursor: pointer;
}

button {
  background-color: var(--buttonColor);
  border: 1px solid var(--buttonBorder);
  border-radius: 6px;
  color: var(--bodyText);
  cursor: pointer;
}

button:disabled {
  color: var(--bodyText);
}

.appRoot {
  display: flex;
  flex-grow: 1;
}

.itemSlot {
  border-radius: 4px;
  border: 1px solid var(--panelBorder);
  padding: 2px;
  font-size: x-small;
  text-align: center;
  border-spacing: 0px;
  cursor: pointer;
  background-color: var(--itemSlotColor);
  color: var(--bodyText);
  box-sizing: border-box;
}

.textOverflow {
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--dialogBackground) !important;
  padding: 12px;
}

.progress-bar {
  overflow: hidden;
  background-color: var(--progressBackgroundColor);
  border-radius: 10px;
  border: 1px solid #555;

  width: 130px;
  min-height: 8px;
  height: 30px;
  height: fit-content;
  position: relative;

  writing-mode: horizontal-tb !important;
  display: inline-block;
  box-sizing: border-box;

  z-index: 0;

  text-align: center;
}

.progress-bar::after {
  color: white;
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
        90deg,
        rgba(0,0,0,0)    0%,
        rgba(0,0,0,0.4) 40%,
        rgba(0,0,0,0.4) 60%,
        rgba(0,0,0,0)  100%);
}

.progress-bar[value]::after {
  content: attr(value);
}

.progress-bar[max]::after {
  content: attr(value) "/" attr(max);
}

.progress-bar > span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: #0075ff;

  display: block;
  height: 100%;
}

@keyframes anim-indeterminate {
  0% {left: 0%};
  100% {left: 75%}
}

.progress-bar.indeterminate > span {
  border-radius: 10px;
  width: 25%;
  animation-name: anim-indeterminate;
  animation-duration: 1.35s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.technique-bar {
  overflow: hidden;
  background-color: var(--progressBackgroundColor);
  border-radius: 2px;
  border: 1px solid #555;

  width: 130px;
  min-height: 8px;
  height: 30px;
  height: fit-content;
  position: relative;

  writing-mode: horizontal-tb !important;
  display: inline-block;
  box-sizing: border-box;

  z-index: 0;

  text-align: center;
}

.technique-bar::after {
  color: white;
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
        90deg,
        rgba(0,0,0,0)    0%,
        rgba(0,0,0,0.4) 40%,
        rgba(0,0,0,0.4) 60%,
        rgba(0,0,0,0)  100%);
}

.technique-bar[value]::after {
  content: attr(value);
}

.technique-bar[max]::after {
  content: attr(value) "/" attr(max);
}

.technique-bar > span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: #0075ff;

  display: block;
  height: 100%;
}

.snackBar {
    white-space: pre-wrap;
    background-color: var(--qiColor);
}

.mat-tooltip {
  font-size: 14px !important;
  white-space: pre-line;
  z-index: 100;
}


.multiline-tooltip {
  white-space: pre-line;
}

.draggableCursor {
  cursor: move;
}

.grid-item-resize-icon {
  color: var(--panelBorder) !important;
}

.grid-item-content {
  align-items: normal !important;
  justify-content: left !important;
}

.label {
  color: light-dark(#666666, #666666);
}
