<div class='darkMode'>
    <span>Regular People Shop</span>
    <hr/>
    <div class="inventoryContainer">
      <div class="inventoryGrid">
        <div>
          <div class="itemSlot" (click)="slotClicked(landItem)" tabindex="0"
            [ngClass]="{'selectedItem': landItem === storeService.selectedItem, autobuyItem: landItem.id === homeService.merchantAutobuyItem}"
            tooltip="{{landItem.description}}">
            <div>
              @if (landItem.imageFile){
                <img ngSrc="assets/images/items/{{landItem.imageFile}}.png" class="itemImage" priority
                  width="48" height="48" />
              }
            </div>
            <div>{{landItem.name | titlecase}}</div>
            <div>$ {{landItem.value | bigNumber}}</div>
          </div>
        </div>

        @for (item of storeService.regularStoreItems; track item.id + item.value) {
          <div>
            <div class="itemSlot" (click)="slotClicked(item)" tabindex="0"
              [ngClass]="{'selectedItem': item === storeService.selectedItem, ownedItem: item.owned && item.owned(), autobuyItem: item.id === homeService.merchantAutobuyItem}"
              tooltip="{{item.description}}">
              <div>
                @if (item.imageFile){
                  <img ngSrc="assets/images/items/{{item.imageFile}}.png" class="itemImage" priority
                    width="48" height="48" />
                }
              </div>
              <div>{{item.name | titlecase}}</div>
              <div>$ {{item.value * 2 | bigNumber}}</div>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="buttonDiv">
      <span class="flexGrow">
        <button (click)="buyItem()" class="flexGrow" [disabled]="buyDisabled">
          Buy
        </button>
      </span>
      <span class="flexGrow">
        Quantity&nbsp;<input min="0" value="{{purchaseQuantity}}" type="number" class="inputBox" (change)="purchaseQuantityChange($event)"/>
      </span>
    </div>
    <div class="buttonDiv">
      <span class="flexGrow">
        <button (click)="autobuyItem()" class="flexGrow" [disabled]="buyDisabled" tooltip="Automatically buy this item when working one of your shopfronts.">
          Automatically Buy
        </button>
      </span>
      <span class="flexGrow"></span>
    </div>
  </div>
  