<div class='darkMode'>
    <span>Regular People Shop</span>
    <hr/>
    <div class="inventoryContainer">
      <div class="inventoryGrid">
        <div>
          <div class="itemSlot" (click)="slotClicked(landItem)" tabindex="0"
            [ngClass]="{'selectedItem': landItem === storeService.selectedItem}"
            tooltip="{{landItem.description}}">
            <div>
              @if (landItem.imageFile){
                <img ngSrc="assets/images/items/{{landItem.imageFile}}.png" class="itemImage" priority
                  width="48" height="48" />
              }
            </div>
            <div>{{landItem.name | titlecase}}</div>
            <div>$ {{landItem.value | bigNumber}}</div>
          </div>
        </div>

        @for (item of storeService.regularStoreItems; track item.id + item.value) {
          <div>
            <div class="itemSlot" (click)="slotClicked(item)" tabindex="0"
              [ngClass]="{'selectedItem': item === storeService.selectedItem, ownedItem: item.owned && item.owned()}"
              tooltip="{{item.description}}">
              <div>
                @if (item.imageFile){
                  <img ngSrc="assets/images/items/{{item.imageFile}}.png" class="itemImage" priority
                    width="48" height="48" />
                }
              </div>
              <div>{{item.name | titlecase}}</div>
              <div>$ {{item.value * 2 | bigNumber}}</div>
            </div>
          </div>
        }
      </div>
    </div>
    <button (click)="buyItem(1)"
      [disabled]="buyDisabled">
      Buy
    </button>
    <button (click)="buyItem(10)"
      [disabled]="buyDisabled">
      Buy 10
    </button>
    <button (click)="buyItem(100)"
      [disabled]="buyDisabled">
      Buy 100
    </button>
    <button (click)="buyItem(1000)"
      [disabled]="buyDisabled">
      Buy 1,000
    </button>
    <button (click)="buyItem(10000)"
      [disabled]="buyDisabled">
      Buy 10,000
    </button>
  </div>
  